.contHeader{
  background-color: white;
  width: 100%;
  height: 12.4vh;
  z-index: 99999;
}

.page-title-area {
  position: relative;
  z-index: 1;
  padding: 125px 0;
  background-image: url(/assets/immaginiContatti/intro.jpg);
  background-size: cover;
  background-position: 50%;
}

.section-gap-extra-bottom {
  padding-top: 115px;
  padding-bottom: 200px;
}



