.contPannello {
  margin-top: 8vh;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.cont {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2%;
}


@media screen and (max-width:600px) {

  .contPannello {
    margin-top: 1vh;
    display: flex;
    text-align: center;
    flex-direction: column;
  }

}


/*------------------------*/

.panel-slide-right {
  border: 1px solid #3bf3f8;
  background-color: #f5f5f5;
  width: 407px;
  height: auto;
  box-shadow: 10px 10px 25px #35344d29;
  border-radius: 10px;
  opacity: 1;
  position: absolute;
  right: -93.6px;
  top: -16px;
  padding: 1vw;
  z-index: 1000;
  }

.text-center {
  text-align: center !important;
}



.panel-slide-right .header__btn {
  border: 2px solid #2a2a2a;
  color: #2a2a2a;
}

.header__btn {
  border: 2px solid #2a2a2a;
  color: #2a2a2a;
}

.header__btn {
  background-image: none;
  border: 2px solid #fff;
  padding: 9px 45.25px;
}

.panel-slide-right .title {
  font-size: 20px;
}

.mb-5px {
  margin-bottom: 5px !important;
}

.color-black {
  color: #2a2a2a !important;
}

.bold {
  font-weight: 700 !important;
}

.line-height-1-2 {
  line-height: 1.2;
}

.font-size-16px {
  font-size: 16px;
}

.color-black {
  color: #2a2a2a !important;
}

.fa-arrow-right-from-bracket {
  font-size: 1.5vw;
  cursor: pointer;
}

.spazio{
  margin-bottom: 4vh;
}


@media screen and (max-width:600px) {

  .panel-slide-right {
    width: 98%;
    right: 1%;
    top: 2px;
  }

  .fa-arrow-right-from-bracket {
    font-size: 5vw;
    cursor: pointer;
  }



}
