<div _ngcontent-vqu-c39="" class="panel-slide-right text-center ng-tns-c39-1 ng-star-inserted" bis_skin_checked="1">

  <div class="cont">
    <button _ngcontent-vqu-c39="" (click)="showPannello()" class="thm-btn header__btn scroll-to-target ng-tns-c39-1">{{
      phonePrefix}} {{ phoneNumber }}</button>
    <i class="fa-solid fa-arrow-right-from-bracket" (click)="logout()"></i>
  </div>


  <app-top-up-balance></app-top-up-balance>

  <button class="thm-btn spazio" (click)="prenota()">{{prenotaButton}}</button>


</div>
