* {
  padding: 0;
  margin: 0;
}

.contGlob {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.contenitoreLogin {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50vw;
  height: 100vh;
}

.desktop {
  width: 50vw;
  height: 100vh;
}

.mobile{
  display: none;
}

.imgLogin {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contBack {
  display: flex;
  align-items: center;
  gap: 0.573vw;
  margin-top: 3.056vh;
  margin-left: 1vw;
  cursor: pointer;
}

.bordoBack {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow: 0px 3px 6px #00000029;
  width: 2.5vw;
  height: 5vh;
  border-radius: 50%;
}

.back {
  width: 1.146vw;
  height: auto;
}

.textBack {
  color: #1D0F01;
  font-size: 0.833vw;
}

/*--------------------------------------------*/

.title {
  position: absolute;
  top: 7.037vh;
}

.numberSolo {
  position: absolute;
  top: 31vh;
}

.button {
  top: 81vh;
  position: absolute
}

.verification {
  top: 40vh;
  position: absolute;
}

.generic {
  position: absolute;
  top: 31vh;
}

.pin {
  position: absolute;
  top: 42vh;
}

.timer {
  top: 57vh;
  position: absolute
}

.terms {
  position: absolute;
  top: 62vh;
}

.cong{
  position:absolute;
  top: 25%;
}

@media screen and (max-width:600px) {

  .desktop {
    display: none;
  }

  .mobile{
    display: block;
  }

  .title {
    position: absolute;
    top: 13.689vh
  }

  .numberSolo {
    position: absolute;
    top: 35vh
  }

  .verification {
    top: 45.476vh;
    position: absolute;
  }

  .timer {
    top: 59.397vh;
    position: absolute
  }

  .button {
    top: 85.615vh;
    position: absolute
  }

  .generic {
    position: absolute;
    top: 36.311vh;
  }

  .pin {
    position: absolute;
    top: 44.316vh;
  }

  .terms {
    position: absolute;
    top: 60vh;
  }

  .cong{
    position:absolute;
    top: 40%;
  }


}
