.titolo1{
  font-size: 1.927vw;
  color:black;
  text-align: center;
  font-weight: lighter;
}

.titolo2{
  font-size: 2.552vw;
  color:black;
  text-align: center;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}

.testo{
  font-size: 0.833vw;
  text-align: center;
  color: black;
  margin-top: 1.624vh;
  font-family: Arial, Helvetica, sans-serif;
}

.testoCodice{
  font-size: 0.833vw;
  text-align: center;
  color:#223D7F;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width:600px){

  .titolo1{
    font-size: 6.763vw;
    color:black;
    text-align: center;
    font-weight: lighter;
  }

  .titolo2{
    font-size: 8.937vw;
    color:black;
    text-align: center;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
  }

  .testo{
    font-size: 3.865vw;
    text-align: center;
    color: black;
    margin-top: 1.624vh;
    font-family: Arial, Helvetica, sans-serif;
  }

  .testoCodice{
    font-size: 3.865vw;
    text-align: center;
    color:#223D7F;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }


}
