h1 {
  color: #001D23;
}

.glob {
  padding-top: 15vh;
  padding-bottom: 15vh;
}

.myForm {
  margin-top: 3vh;
  width: 80vh;
  height: auto;
  border-radius: 1.5vw;
  border: solid 1px #001D23;
  padding: 2vw;
}

.descForm {
  font-size: 1.2vw;
  color: #001D23;
  line-height: 1.5;
}


.myLabel {
  font-size: 1.2vw;
  color: #001D23;
  font-weight: bold;

}

.contForm {
  margin-top: 4vh;
}

.myInput {
  border-radius: 1vw;
  width: 100%;
  margin-bottom: 3vh;
}

.btnDelete {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.3;
  text-align: center;
  vertical-align: middle;
  transition: all .3s ease-out 0s;
  color: white;
  background-color: #223D7F;
  padding: 16px 36px;
  border-radius: 35px;
  position: relative;
  z-index: 1;
  border: 1px solid transparent;
  margin-top: 2vh;
  margin-bottom: 2vh;
}


@media screen and (max-width:600px) {

  .glob {
    padding-top: 15vh;
    padding-bottom: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .myForm {
    margin-top: 3vh;
    width: 95%;
    height: auto;
    border-radius: 3vw;
    border: solid 1px #001D23;
    padding: 2vw;
  }

  .descForm {
    font-size: 5vw;
    color: #001D23;
    line-height: 1.5;
  }

  .myLabel {
    font-size: 4vw;
    color: #001D23;
    font-weight: bold;
  }

  .myInput {
    border-radius: 5vw;
    width: 100%;
    margin-bottom: 2vh;
  }

  .btnDelete {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.3;
    text-align: center;
    vertical-align: middle;
    transition: all .3s ease-out 0s;
    color: white;
    background-color: #223D7F;
    padding: 16px 36px;
    border-radius: 35px;
    position: relative;
    z-index: 1;
    border: 1px solid transparent;
    margin-top: 2vh;
    margin-bottom: 2vh;
  }






}
