.green {
  color: #223D7F;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}



.testo {
  font-size: 0.833vw;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

@media screen and (max-width:600px) {

  .green {
    color: #223D7F;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 6vw;
  }


  .testo {
    font-size: 5vw;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }


}
