%content-table {
  /* width: 380px; */
  height: 398px;
  background-color: #fff;
  border-radius: 10px;
  padding-left: 0px;
  padding-right: 0px;
}

.payment-balance {
  @extend %content-table;

  padding: 20px;
  height: 650px;
  bottom: 29px;
  position: absolute;
  border-radius: 0;
  z-index: 1;

  .thm-btn {
    width: 214px;

    &:disabled {
      background-color: #53a1f5;
      border-color: #53a1f5;
    }
  }

  .cerrar {
    position: relative;

    .fa-close {
      position: absolute;
      right: 17px;
      top: -49px;
      cursor: pointer;

      &:hover {
        opacity: 0.6;
      }
    }
  }
}

.modal-payment-body {
  background-color: #ffffff;
  border-radius: 20px;
}

.icon-close-modal {
  float: right;
  font-weight: bold;
  font-size: 25px;
  color: #000000;
}

.img-modal-icon {
  height: 64px;
  width: 68px;
}

.m-t-15 {
  margin-top: 15px;
}

.text-modal-paymnet {
  font-size: 14px;
  text-align: center;
  line-height: 20px;
}

form {
  .content-checkbox {
    input[type='checkbox'] {
      width: 28px;
      height: 28px;
      opacity: 1;
      margin-right: 10px;
      border: 2px solid #dadae5;
      border-radius: 10px;
    }

    label {
      top: -7px;
      position: relative;
    }
  }

  .btn {
    &.btn-amount {
      width: 72px;
      height: 46px;
      border: 2px solid #395aff;
      border-radius: 10px;
      margin-right: 5px;

      &:hover {
        background-color: #395aff;
        color: #fff;
      }
    }
  }

  .input-group {
    input {
      border-radius: 10px;
    }

    .input-group-append {
      position: relative;

      .input-group-text {
        background-color: #395aff;
        color: #fff;
        border-radius: 10px;
        width: 40px;
        left: -39px;
        position: absolute;
        z-index: 3;
        justify-content: center;
        display: flex;
      }
    }
  }
}

.contX {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fa-xmark {
  font-size: 2vw;
  color: gray;
  cursor: pointer;
}

.m20 {
  margin-top: 20px;
}

.myInput {
  padding-left: 2vw;
}

.myInput::placeholder {
  padding-left: 10px;
}

@media screen and (max-width:600px) {
  .fa-xmark {
    font-size: 7vw;
  }

  .myInput {
    padding-left: 6vw;
  }

}
