/* Header originale */
.header-original {
  position: absolute;
  width: 100%;
  z-index: 999;
  background-color: transparent;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

/* Header sticky */
.header-sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transform: translateY(-100%);
  /* Inizialmente nascosto */
  transition: transform 0.3s ease-in-out;
}

/* Quando sticky è visibile */
.header-sticky-visible {
  transform: translateY(0);
}

/* Menu laterale */
.side-menu {
  position: fixed;
  top: 0;
  left: -250px;
  /* Menu nascosto a sinistra di default */
  width: 250px;
  height: 101vh;
  /* Altezza fissa per coprire tutta la pagina */
  background-color: #001d23;
  transition: left 0.3s ease-in-out;
  /* Animazione solo per l'apertura */
  z-index: 1000;
  padding-top: 60px;
  /* Spazio per l'eventuale barra superiore */
}

/* Menu laterale visibile */
.side-menu.open {
  left: 0;
  /* Menu visibile quando "open" */
}

/* Contenuto del menu */
.side-menu ul {
  list-style-type: none;
  padding: 0;
}

.side-menu ul li {
  padding: 15px;
  border-bottom: 1px solid #444;
  background-color: #001d23;
}

.side-menu ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
}

.side-menu ul li a:hover {
  background-color: #555;
}

.main-btn {
  cursor: pointer;
}

/* Tasto hamburger */
.nav-togglers span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #333;
  margin-bottom: 5px;
  transition: 0.4s;
}

/* Transizioni per l'icona hamburger quando il menu è aperto */
.nav-togglers.open span:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.nav-togglers.open span:nth-child(2) {
  opacity: 0;
}

.nav-togglers.open span:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Visibilità mobile */
.hidden-mobile {
  display: none !important;
}

/* Nascondi il bottone hamburger in modalità desktop */
@media (min-width: 768px) {
  .hidden-mobile {
    display: block !important;
  }

  .navbars-extra .nav-togglers {
    display: none;
    /* Nascondi il bottone hamburger su desktop */
  }
}

/* Modifiche su mobile */
@media (max-width: 767px) {
  .header-sticky .nav-menu {
    display: none;
    /* Nascondi il menu principale su mobile */
  }

  .navbars-extra .nav-togglers {
    display: block;
    cursor: pointer;
    border-radius: 10%;
    margin-left: 20px;
    border: 1px solid #333;
    /* Contorno di 2px con un colore scuro */
    padding: 8px;
    /* Aggiungi un po' di padding per rendere più grande il contorno */
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    /* Aggiungi una transizione per gli effetti al passaggio del mouse */
  }

  /* Effetto al passaggio del mouse */
  .navbars-extra .nav-togglers:hover {
    border-color: #555;
    /* Cambia il colore del bordo al passaggio del mouse */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Aggiungi un'ombra leggera per evidenziare il pulsante */
  }

  /* Menu laterale visibile a sinistra */
  .side-menu {
    left: -250px;
    /* Imposta il menu fuori dallo schermo di default */
    width: 250px;
  }

  .side-menu.open {
    left: 0;
    /* Mostra il menu quando "open" */
  }
}



.exchange-button {
  width: 60%;
  margin: 15px auto;
  margin-left: 47px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 50px;
  background-color: #f8f9fa;
  color: #02a95c;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}

/* Cambia colore delle voci al passaggio del mouse */
.nav-menu ul li a {
  color: #333;
  /* Colore predefinito */
  transition: color 0.3s ease-in-out;
  /* Aggiungi una transizione fluida */
}

.nav-menu ul li a:hover {
  color: #02a95c;
  /* Colore al passaggio del mouse */
}

/* Per le sottovoci del menu */
.nav-menu ul li ul.submenu li a {
  color: #555;
  /* Colore predefinito per le sottovoci */
}

.nav-menu ul li ul.submenu li a:hover {
  color: #02a95c;
  /* Colore al passaggio del mouse per le sottovoci */
}

/* Stile per il link attivo */
.active-link {
  color: #02a95c !important;
  /* Colore verde */
  font-weight: bold;
  /* Grassetto opzionale */
  text-decoration: underline;
  /* Sottolineatura opzionale */
  text-decoration-color: #02a95c;
  text-underline-offset: 4px;
}

.desktop {
  display: block;
}

.mobile {
  display: none;
}

.headerMobile {
  display: none;
}

@media screen and (max-width:600px) {

  .headerMobile {
    display: block;
    z-index: 900;
    top: 0;
    left: 0;
    background: white;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    width: 100%;
    padding: 1vw;
  }

  .fixed {
    position: fixed;
  }



  .logoMobile {
    width: 22.222vw;
  }

  .contMobile {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .bordoBotton {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #223D7F30;
    padding: 2.5vw;
    border-radius: 2vw;
    border: solid 1px #223D7F;
  }

  .one {
    margin-top: 0.5vh;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .exchange-button {
    width: 28vw;
    margin: 15px auto;
    margin-left: 47px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 50px;
    background-color: #223D7F;
    color: white;
    border: none;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
  }



  .navbar-inner {
    display: none;
  }

  .bordoBotton2 {
    position: absolute;
    top: 2%;
    right: 9%;
    color: white;
    z-index: 9999;
  }

  .bordoBotton2 .nav-togglers span {
    background: white;
  }
}


/*-------------------------------------------------*/

.boxPannello {
  display: flex !important;
  background-color: white;
  padding: 1vw;
  top: 0.5vw;
  margin-left: -5vw;
  height: 70vh;
  width: 11vw;
  border-radius: 1vw;
  border: solid 1px blue;
  position: absolute;
  align-items: start;
}

.buttonPers-container {
  position: relative;
  display: inline-block;
}

.contLog {
  display: flex;
  align-items: center;
  gap: 5%;
}

.buttonPers {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.3;
  text-align: center;
  user-select: none;
  transition: all .3s ease-out 0s;
  color: white;
  background-color: #223D7F;
  border-radius: 35px;
  border: 1px solid transparent;
  height: 7vh;
  width: 9vw;
  cursor: pointer;
  position: relative;
  z-index: 10;
  white-space: nowrap;
}


.boxPannello {
  position: absolute;
  top: 34.5vh;
  left: 9.5vw;
  transform: translate(-50%, -50%);
  background-color: white;
  display: flex;
  align-items: start;
  justify-content: center;
  width: 250px;
  height: 70vh;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  z-index: 5;
  padding: 10px;
}

.fa-arrow-right-from-bracket {
  position: absolute;
  z-index: 9999;
  font-size: 1.5vw;
  cursor: pointer;
  right: -1.8vw;
}

.fa-user {
  font-size: 1.5vw;
}

@media screen and (max-width:600px) {

  .fa-user {
    font-size: 5vw;
  }

  .fa-arrow-right-from-bracket {
    position: absolute;
    z-index: 9999;
    font-size: 6vw;
    cursor: pointer;
    top: 8vh;
    right: 0.4vw;
  }

  .exchange-button2 {
    width: 28vw;
    margin: 15px auto;
    margin-left: 47px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 50px;
    background-color: #223D7F;
    color: white;
    border: none;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    position: relative;
    z-index: 10;
  }


  .header-sticky {
    display: none !important;
  }

  .header-sticky-visible {
    transform: none;
    display: none;
  }

}


/*------------------------------*/


.contButt {
  position: relative;
}

.nav-menu ul {

  display: flex;

}


/*------------------------------*/

.pers {
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
}

.modal-content {
  background-color: white;
  border-radius: 1vw;
  width: 70%;
  height: auto;
  display: flex;
  align-items: center;
  text-align: center;
}

.btnModale {
  margin-top: 2vh;
  background-color: #223D7F;
  color: white;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1vw;
  color: white;
  width: 11vw;
  height: 7vh;
  border-radius: 3vw;
  margin-bottom: 5vh
}

.nav-menu ul {
  display: flex;
  gap: 2vw;
}

/*-----*/
.mProj {
  width: 80%;
  margin-top: 2vh;
}

.titoloModale {
  font-size: 1.5vw;
  font-weight: bold;
  color: #000000;
  text-align: center;
}

.descModale {
  font-size: 1vw;
  color: gray;
  margin-top: 2.7vh;
  line-height: 1.7;
}


.color {
  color: #199D14;
  font-weight: bold;
}

@media screen and (max-width:600px) {
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }

  .modal-content {
    background-color: white;
    border-radius: 4vw;
    width: 90%;
    height: auto;
    display: flex;
    align-items: center;
    text-align: center;
  }


  .titoloModale {
    font-size: 7vw;
    font-weight: bold;
    color: #000000;
    text-align: center;
  }

  .btnModale {
    margin-top: 2vh;
    background-color: #223D7F;
    color: white;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vw;
    color: white;
    width: 80%;
    height: 6vh;
    border-radius: 14vw;
    margin-bottom: 5vh;
  }
}
