@media screen and (max-width:600px) {

  .contHeader {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: auto !important;
  }

  .logoMobile {
    width: 35vw;
    height: auto;
    margin-bottom: 1vh;
  }


}
