.headsection {
  background-color: #223D7F;
}


.contHeader {
  background-color: white;
  width: 100%;
  height: 12.4vh;
  z-index: 99999;
}

.testoResults {
  font-size: 1vw;
  color: #003009;
  font-weight: 500;
}


.boxCompany {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2.037vh;
  width: 80%;
}


.immDown {
  width: 1vw;
}

.mySelect {
  width: 5.99vw;
  border-radius: 1vw;
  text-align: center;
  color: black;
  font-weight: bold;
  box-shadow: 0px 3px 15px #00000029;
  padding: 0;
  height: 6vh;
  font-size: 0.8vw;
  cursor: pointer;
}

.mySelect:focus {
  outline: none;
  border: none;
}

.bordoDownload {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2vw;
  height: 1.5vw;
  width: 5vw;
  margin-top: -2vh;
  background-color: #223D7F;
  cursor: pointer;
}

.button-container {
  display: flex;
  align-items: center;
  margin-left: 0;
  gap: 0.365vw;
  background-color: #223D7F;
  justify-content: center;
}

.square-button {
  width: 9vw;
  height: 10.37vh;
  border-radius: 15px;
  margin-top: 25px;
  border: 2px solid #ccc;
  background-color: white;
  font-size: 0.9vw;
  font-weight: 500;
  color: #223D7F;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
  flex-shrink: 0;
  margin-bottom: 4vh;
}

.fa-filter,
.fa-truck {
  color: #223D7F !important;
}

.square-button i {
  font-size: 2vw;
  /* Regola la dimensione dell'icona */
  color: #199c38;
}

.square-button:hover {
  background-color: #ddd;
}

.searchcont {
  margin-left: 14.167vw;
}

.title {
  font-size: 1.25vw;
  margin-top: 6px;
  color: #ffffff;
  font-weight: 500;
  margin-left: 0.6vw;
}

.subtitle {
  font-size: 0.833vw;
  margin-top: 8px;
  color: #ffffff;
  font-weight: 400;
  margin-left: 0.6vw;
  padding-bottom: 9px;
}

.search-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 46.458vw;
}

.searchbar {
  width: 100%;
  height: 4.907vh;
  padding: 10px;
  border-radius: 25px;
  border: 1px solid #ccc;
  font-size: 0.833vw;
  margin-top: 4px;
  padding-right: 40px;
}

.searchbar::placeholder {
  color: #003009;
  font-weight: 500;
}

.searchbar:focus {
  outline: none;
  box-shadow: none;
}

.search-button {
  position: absolute;
  right: -1px;
  top: 3.9px;
  background: #41B74F;
  border: none;
  color: white;
  width: 8.229vw;
  height: 4.9vh;
  border-radius: 27px;
  cursor: pointer;
  font-size: 0.833vw;
  font-weight: 500;
}

.button-with-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards-container {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  justify-content: center;
}

/* CARD GRANDE */
.big-card {
  width: 80%;
  height: auto;
  background: white;
  padding: 20px;
  border-radius: 19px;
  margin-bottom: 5vh;
  border: none;
}

.card-header {
  display: flex;
  justify-content: space-between;
  font-weight: normal;
  font-size: 0.938vw;
  ;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 10px;
  color: #003009;
  text-align: center;
}

.company-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}



.company-info {
  display: flex;
  align-items: center;
  gap: 0;
  line-height: 1.2;
  width: auto;
  border: 1px solid #D8D8D8;
  border-radius: 1vw;
  padding: 0.5vw;
}

.company-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* 3 colonne */
  gap: 2vw 2vh;
  /* spaziatura orizzontale e verticale tra le card */
  justify-items: center;
  /* centra le card all'interno delle colonne */
}


.company-img {
  width: 68px;
  height: 69px;
  border-radius: 5px;
  padding: 3px;
  box-shadow: 0px 3px 15px #00000029;
}

.immCompany {
  width: 13vw;
  height: auto;
  border: none;
  box-shadow: none;
}

.info {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5vh;
  margin-left: 1vh;
}

.company-details {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5vh;
}

.company-name {
  font-weight: bold;
  font-size: 1.2vw;
  color: #003009;
  text-align: left;
}

.company-newValue {
  font-size: 0.938vw;
  color: #003009;
  text-align: left;
}

.emission {
  color: #003009;
  font-size: 1vw;
  text-align: left;
}


.company-text {
  font-size: 1vw;
  color: #223D7F;
  text-align: left;
  font-weight: bold;
}

.company-text2 {
  font-size: 1vw;
  color: #003009;
  text-align: left;
  font-weight: bold;
}

/* Emissioni sempre centrate */
.company-emission {
  text-align: center;
  color: #003009;
  font-family: 'Segoe UI', sans-serif;
  font-weight: 400;
  font-size: 2.135vw;
}

.kgs {
  color: #003009;
  font-family: 'Segoe UI', sans-serif;
  font-weight: 400;
  font-size: 1.042vw;
  margin-left: -0.9vh;
}

.divider {
  height: 1px;
  width: 0.2vw;
  background: #E6F1E4;
  opacity: 0.1;
  margin: 10px 0;
}


.company-rating {
  width: 5vw;
  height: 4vh;
  font-size: 1vw;
  background-color: #41B74F;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 0.5vw;
  font-weight: bold;
  box-shadow: 0px 3px 15px #00000029;
}


.middle-card {
  width: 24.74vw;
  background: linear-gradient(110deg, #90EB28, #223D7F);

  border-radius: 19px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

.middle-card-image {
  width: 8vw;
  height: 130%;
  background-image: url(/assets/immaginiGenerali/rettangolo.png);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.middle-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 55%;
  /* Riduci leggermente il contenuto */
  margin-left: 22px;
}

.middle-card-title {
  font-size: 1.875vw;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: -20px;
}

.middle-card-text {
  font-size: 1.667vw;
  font-weight: 300;
  margin-top: 5px;
  color: #ffffff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.middle-card-button {
  background: #ffffff;
  color: #003009;
  padding: 8px;
  box-shadow: 0px 3px 15px #00000029;
  border: 1px solid #E6F1E4;
  border-radius: 29px;
  font-weight: 500;
  cursor: pointer;
  font-size: 0.833vw;
  text-align: center;
  width: 65%;
}

.monthly {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.4;
  font-family: "Barlow", sans-serif;
  padding: 0.7vw;

}

.testoMonthly {
  color: #003009;
  font-size: 0.9vw;
  font-family: "Segoe UI", Arial, sans-serif;
  text-align: center;
}

.numberMonthly {
  color: #003009;
  font-size: 1.8vw;
  font-weight: bold;
  line-height: 1;
  font-family: "Barlow", sans-serif;

}

.numberMonthly2 {
  color: #41B74F;
  font-size: 1.8vw;
  font-weight: bold;
  line-height: 1;
  font-family: "Barlow", sans-serif;
}

.linea {
  height: 12vh;
  background: rgb(206, 206, 206);
  width: 1px;
}

.lineOr {
  width: 100%;
  background: rgb(206, 206, 206);
  height: 1px;
  margin-top: 1vh;
  margin-bottom: 2vh;
}

.contButton {
  width: 13vw;
  display: flex;
  align-items: center;
  justify-content: center;
}


.contCardCompany1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.desktop {
  display: block;
}

.mobile {
  display: none;
}

.all {
  width: 2vw;
}

.fa-solid {
  color: #223D7F;
}

/*--------------------------------------*/
/*Scroll container*/

/* Contenitore esterno con dimensioni fisse e scroll orizzontale */
.scrollContainer {
  width: 100%;
  max-width: 100vw;
  overflow-x: auto;
  padding-bottom: 1rem;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #199C38 #E6F1E4;
  scrollbar-width: none;
  -ms-overflow-style: none;
  background-color: #223D7F;
}

/* Scrollbar personalizzata */
.scrollContainer::-webkit-scrollbar {
  height: 8px;
}

.scrollContainer::-webkit-scrollbar-thumb {
  background-color: #199C38;
  border-radius: 4px;
}

.scrollContainer::-webkit-scrollbar-track {
  background-color: #E6F1E4;
}


/*--------------------------------------*/


@media screen and (max-width:600px) {

  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .square-button {
    width: 22.464vw;
    height: 10.37vh;
    border-radius: 1.5vw;
    margin-top: 25px;
    border: 2px solid #41B74F;
    background-color: white;
    font-size: 3vw;
    font-weight: 500;
    color: #223D7F;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
    flex-shrink: 0;
    margin-bottom: 2vh;
    gap: 1vw;
  }

  .square-button2 {
    width: 22.464vw;
    height: 10.37vh;
    border-radius: 1.5vw;
    margin-top: 25px;
    background-color: #41B74F;
    font-size: 3vw;
    font-weight: 500;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
    flex-shrink: 0;
    margin-bottom: 2vh;
    gap: 1vw;
  }

  .button-container {
    display: flex;
    align-items: center;
    margin-left: 0;
    gap: 2vw;
    background-color: #223D7F;
    justify-content: normal;
    padding-left: 3vw;
  }

  .all {
    width: 7.971vw;
  }

  .fa-filter,
  .fa-truck {
    color: #223D7F !important;
    font-size: 7.488vw !important;
  }

  .boxCompany {
    display: none;
  }

  .scrollContainer {
    width: 100%;
    max-width: 100vw;
    overflow-x: auto;
    padding-bottom: 0.5rem;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: #199C38 #E6F1E4;
    scrollbar-width: none;
    -ms-overflow-style: none;
    background-color: #223D7F;
  }

}


/*--------------------------*/


@media screen and (max-width:600px) {

  .sectionMobile {
    margin-top: 3vh;
    margin-bottom: 5vh;
  }

  .contCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
  }


  .cardCompany {
    display: flex;
    align-items: center;
    width: 97%;
    height: auto;
    border-radius: 3vw;
    padding: 0;
    border: solid 2px #D8D8D8;
    box-shadow: 0px 3px 15px #00000029;
  }

  .contCardCompany1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2vh;
  }

  .contCardCompany2 {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .contCardCompany3 {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 11vw;
  }


  .logoMobile {
    width: 25vw;
  }

  .bordoDownload {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2vw;
    padding: 1vw;
    height: 3vh;
    width: 16vw;
    margin-top: -1vh;
    background-color: #223D7F;
  }

  .immDown {
    width: 4vw;
  }

  .company-name {
    font-size: 5vw;
  }

  .testoMonthly {
    font-size: 4vw;
  }

  .euro {
    font-weight: bold;
    font-size: 4vw;
    color: #223D7F;
  }

  .green {
    font-weight: bold;
    font-size: 4vw;
    color: #003009;
  }

  .company-rating {
    width: 25vw;
    height: 4vh;
    font-size: 3vw;
    background-color: #41B74F;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 3vw;
    font-weight: bold;
    box-shadow: 0px 3px 15px #00000029;
  }



  .numberMonthly2 {
    color: #41B74F;
    font-size: 5vw;
    font-weight: bold;
    line-height: 1;
    font-family: "Barlow", sans-serif;
  }

}

.cont {
  display: flex;
  align-items: center;
  gap: 3%;
}


.dettagliDx {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 5.5vh;
}


.perc {
  font-weight: bold;
  font-size: 1vw;
  color: #41B74F;
}


.pagination {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

}

.persButton {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  background-color: #223D7F;
}

.persButton:disabled {
  background-color: #90a0c6;
}


.pag {
  width: 0.5vw;
  margin-left: 2px;
}

.pag2 {
  width: 0.5vw;
  transform: rotate(180deg);
  margin-left: -2px;
}

.page-button {
  border: none;
  background-color: #90a0c6;
  color: white;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.3s;
  width: 2vw;
}

.page-button.active {
  background-color: #223D7F;
  color: white;
  font-weight: bold;
  width: 2vw;
}

.page-button:disabled {
  background-color: #90a0c6;
  cursor: not-allowed;
}

@media screen and (max-width:600px) {

  .company-list {
    display: grid;
    grid-template-columns: none;
    gap: 2vw 2vh;
    justify-items: center;
  }


  .big-card {
    width: 100%;
    height: auto;
    background: white;
    padding: 0;
    border-radius: 19px;
    margin-bottom: 5vh;
    border: none;
  }

  .company-info {
    display: flex;
    align-items: center;
    gap: 0;
    line-height: 1.2;
    width: 95%;
    border: 1px solid #D8D8D8;
    border-radius: 1vw;
    padding: 1vw;
  }

  .company-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 100%;
  }

  .immCompany {
    width: 50vw;
    height: auto;
    border: none;
    box-shadow: none;
  }

  .bordoDownload {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3vw;
    padding: 1vw;
    height: 3vh;
    width: 17vw;
    margin-top: -1vh;

  }

  .info {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1vh;
    margin-left: 0;
  }


  .emission {
    color: #003009;
    font-size: 4vw;
    text-align: left;
  }

  .company-text2 {
    font-size: 4vw;
    color: #003009;
    text-align: left;
    font-weight: bold;
  }

  .company-text {
    font-size: 4vw;
    color: #223D7F;
    text-align: left;
    font-weight: bold;
  }

  .perc {
    font-weight: bold;
    font-size: 4vw;
    color: #41B74F;
  }

  .dettagliDx {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 7vh;
  }

  .company-rating {
    width: 20vw;
    height: 4vh;
    font-size: 5vw;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 3vw;
    font-weight: bold;
    box-shadow: 0px 3px 15px #00000029;
  }


  .page-button {
    border: none;
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.3s;
    width: 8vw;
  }

  .page-button.active {
    color: white;
    font-weight: bold;
    width: 8vw;
  }

  .persButton {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8vw;
    height: 8vw;
    border-radius: 50%;
  }



  .pag2 {
    width: 2vw;
  }

  .pag {
    width: 2vw;

  }


  .pagination {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }


}


/*------------------------------------------------*/


.contData {
  background-color: #223D7F;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 8px 12px;
  height: 12vh;
}

.left-controls {
  display: flex;
  align-items: center;
  gap: 3%;
}

.mySelect {
  width: 10vw;
  height: 5vh;
  border-radius: 0.5vw;
  font-size: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.myButton {
  width: 8vw;
  border-radius: 0.5vw;
  height: 5vh;
  color: #223D7F;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1vw;
}

.myButton[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}

.order-by {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 5px;
  position: relative;
}



.orderBySelect {
  width: 14vw;
  height: 5vh;
  display: flex;
  border-radius: 5vw;
  font-size: 1vw;
  color: #223D7F;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-align-last: center;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.orderBySelect option {
  text-align: center;
}


.select-wrapper {
  position: relative;
  display: inline-block;
}

.mySelect {
  width: 10vw;
  height: 5vh;
  border-radius: 0.5vw;
  font-size: 1vw;
  color: #000;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-right: 2.5vw;
  /* spazio per la freccia */
}

.orderBySelect {
  width: 14vw;
  height: 5vh;
  display: flex;
  border-radius: 5vw;
  font-size: 1vw;
  color: #223D7F;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-align-last: center;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 0;
}

.select-arrow {
  position: absolute;
  right: 0.8vw;
  top: 50%;
  transform: translateY(-50%);
  width: 1vw;
  pointer-events: none;
  /* clic passa attraverso */
}

@media screen and (max-width:600px) {


  .contData {
    background-color: #223D7F;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    height: auto;
    flex-direction: column;
  }



  .left-controls {
    display: flex;
    align-items: center;
    gap: 1vh;
    flex-direction: column;
  }

  .mySelect {
    width: 70vw;
    height: 5vh;
    border-radius: 6vw;
    font-size: 4vw;
    color: #000;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-right: 0;
  }

  .myButton{
    width: 70vw;
    border-radius: 1.5vw;
    height: 5vh;
    color: #223D7F;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vw;
}

.orderBySelect{
  width: 70vw;
  height: 5vh;
  display: flex;
  border-radius: 5vw;
  font-size: 5vw;
  color: #223D7F;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-align-last: center;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 0;
  margin-top: 1vh;
}


.select-arrow {
  position: absolute;
  right: 3.8vw;
  top: 58%;
  transform: translateY(-50%);
  width: 4vw;
  pointer-events: none;
}




}
