<div class="contHeader">
  <app-header></app-header>
</div>

<!-- <section class="page-title-area">
  <div class="container">
      <div class="row align-items-center justify-content-between">
          <div class="col-lg-8">
              <h1 class="page-title">Latest Project</h1>
          </div>
          <div class="col-auto">
              <ul class="page-breadcrumb">
                  <li><a href="/">Home</a></li>
                  <li>Latest Project</li>
              </ul>
          </div>
      </div>
  </div>
</section> -->


<section class="project-section section-gap-extra-bottom primary-soft-bg">
  <div class="container">
    <div class="row project-items justify-content-center project-style-one">


      <div class="col-lg-4 col-md-6 col-sm-10">
        <div class="project-item mb-30" (click)="openModal()">
          <div class="thumb" style="background-image:url(assets/immaginiProgetti/1.png)">
          </div>

          <div class="content">
            <div class="cats">
              <a class="category-yellow">Social community</a>
            </div>
            <div class="author"><img src="assets/immaginiProgetti/el1.png" alt="Thumb" />Passaparola</div>
            <div class="title">Passaparola is the first community that rewards you for the advice you give. Give
              voice to your ideas and earn by sharing what you love.</div>

            <div class="project-stats">
              <div class="stats-value"><span class="value-title">Price per Quota </span><span
                  class="stats-percentage2">€ 0,0110</span></div>

              <div class="stats-value"><span class="value-title">Invest from </span><span class="stats-percentage2">€
                  1.500,00</span></div>

              <div class="stats-value"><span class="value-title">Bonus round </span><span
                  class="stats-percentage3">60%</span></div>

              <div class="stats-value">
                <span class="value-title">Expiry round </span>
                <span class="stats-percentage">11/05/2025</span>
              </div>

              <div class="stats-value">
                <span class="value-title">Monthly revenue shared</span>
                <span class="stats-percentage3">13%</span>
              </div>

              <div class="stats-value"><span class="value-title">available quota </span><span
                  class="stats-percentage3">10.000.000,00</span></div>

              <div class="contBtn">

                <button class="btn1"><img src="assets/immaginiProgetti/icon.png" class="icon">See more</button>
                <button class="btn2"> starting from
                  <div class="gross">24/05/2025</div>
                </button>

              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-10">
        <div class="project-item mb-30" (click)="openModal()">
          <div class="thumb" style="background-image:url(assets/immaginiProgetti/2.png)">
          </div>
          <div class="content">
            <div class="cats">
              <a class="category-green">Green & Sustainable</a>
            </div>
            <div class="author"><img src="assets/immaginiProgetti/el2.png" alt="Thumb" />Ekonia</div>
            <div class="title">Ekonia is the first digital community connecting green people and businesses to build a
              sustainable, real, and participatory economy together.</div>

            <div class="project-stats">
              <div class="stats-value"><span class="value-title">Price per Quota </span><span
                  class="stats-percentage2">€ 1,980,00</span></div>

              <div class="stats-value"><span class="value-title">Invest from </span><span class="stats-percentage2">
                € 7.500,00</span></div>

              <div class="stats-value"><span class="value-title">Bonus round </span><span
                  class="stats-percentage3">38%</span></div>

              <div class="stats-value">
                <span class="value-title">Expiry round </span>
                <span class="stats-percentage">18/05/2025</span>
              </div>

              <div class="stats-value">
                <span class="value-title">Monthly revenue shared</span>
                <span class="stats-percentage3">16%</span>
              </div>

              <div class="stats-value"><span class="value-title">available quota </span><span
                  class="stats-percentage3">145.000</span></div>

              <div class="contBtn">

                <button class="btn1"><img src="assets/immaginiProgetti/icon.png" class="icon">See more</button>
                <button class="btn2"> starting from
                  <div class="gross">24/05/2025</div>
                </button>

              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-10">
        <div class="project-item mb-30" (click)="openModal()">
          <div class="thumb" style="background-image:url(assets/immaginiProgetti/3.png)">
          </div>
          <div class="content">
            <div class="cats">
              <a class="category-green">Green & Sustainable</a>
            </div>
            <div class="author"><img src="assets/immaginiProgetti/el3.png" alt="Thumb" />CO2 Neutral Tech</div>
            <div class="title">CO₂ NeutralTech helps people and companies reduce environmental impact through digital
              solutions, carbon credits, and sustainability reports.</div>

            <div class="project-stats">
              <div class="stats-value"><span class="value-title">Price per Quota </span><span
                  class="stats-percentage2">€ 0,8200</span></div>

              <div class="stats-value"><span class="value-title">Invest from </span><span class="stats-percentage2">
                € 10,00</span></div>

              <div class="stats-value"><span class="value-title">Bonus round </span><span
                  class="stats-percentage3">8%</span></div>

              <div class="stats-value">
                <span class="value-title">Expiry round </span>
                <span class="stats-percentage">30/04/2025</span>
              </div>

              <div class="stats-value">
                <span class="value-title">Monthly revenue shared</span>
                <span class="stats-percentage3">13%</span>
              </div>

              <div class="stats-value"><span class="value-title">available quota </span><span
                  class="stats-percentage3">4.769.000,00</span></div>

              <div class="contBtn">

                <button class="btn1"><img src="assets/immaginiProgetti/icon.png" class="icon">See more</button>
                <button class="btn2"> Invest now
                </button>

              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-10">
        <div class="project-item mb-30" (click)="openModal()">
          <div class="thumb" style="background-image:url(assets/immaginiProgetti/4.png)">
          </div>
          <div class="content">
            <div class="cats">
              <a class="category-yellow">Finance & green finance</a>
            </div>
            <div class="author"><img src="assets/immaginiProgetti/el4.png" alt="Thumb" />Unika Exchange</div>
            <div class="title">Unika is the first exchange for trading Quote and Green Quote. Like a crypto exchange,
              but for the real and sustainable economy.</div>

            <div class="project-stats">
              <div class="stats-value"><span class="value-title">Price per Quota </span><span
                  class="stats-percentage2">€ 5,4200</span></div>

              <div class="stats-value"><span class="value-title">Invest from </span><span class="stats-percentage2">
                € 813,00</span></div>

              <div class="stats-value"><span class="value-title">Bonus round </span><span
                  class="stats-percentage3">32%</span></div>

              <div class="stats-value">
                <span class="value-title">Expiry round </span>
                <span class="stats-percentage">18/05/2025</span>
              </div>

              <div class="stats-value">
                <span class="value-title">Monthly revenue shared</span>
                <span class="stats-percentage3">21%</span>
              </div>

              <div class="stats-value"><span class="value-title">available quota </span><span
                  class="stats-percentage3">45.000,00</span></div>

              <div class="contBtn">

                <button class="btn1"><img src="assets/immaginiProgetti/icon.png" class="icon">See more</button>
                <button class="btn2"> starting from
                  <div class="gross">24/05/2025</div>
                </button>

              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-10">
        <div class="project-item mb-30" (click)="openModal()">
          <div class="thumb" style="background-image:url(assets/immaginiProgetti/5.png)">
          </div>
          <div class="content">
            <div class="cats">
              <a class="category-yellow">Ai & Robots</a>
            </div>
            <div class="author"><img src="assets/immaginiProgetti/el5.png" alt="Thumb" />Human & Horse</div>
            <div class="title">H&H is the platform for horse lovers: monitor health remotely, find vets, equestrian events, and unforgettable horseback travel experiences.</div>

            <div class="project-stats">
              <div class="stats-value"><span class="value-title">Price per Quota </span><span
                  class="stats-percentage2">€ 11.5000</span></div>

              <div class="stats-value"><span class="value-title">Invest from </span><span class="stats-percentage2">€
                  1.500,00</span></div>

              <div class="stats-value"><span class="value-title">Bonus round </span><span
                  class="stats-percentage3">46%</span></div>

              <div class="stats-value">
                <span class="value-title">Expiry round </span>
                <span class="stats-percentage">18/05/2025</span>
              </div>

              <div class="stats-value">
                <span class="value-title">Monthly revenue shared</span>
                <span class="stats-percentage3">16%</span>
              </div>

              <div class="stats-value"><span class="value-title">available quota </span><span
                  class="stats-percentage3">1.400,00</span></div>

              <div class="contBtn">

                <button class="btn1"><img src="assets/immaginiProgetti/icon.png" class="icon">See more</button>
                <button class="btn2"> starting from
                  <div class="gross">28/05/2025</div>
                </button>

              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-10">
        <div class="project-item mb-30" (click)="openModal()">
          <div class="thumb" style="background-image:url(assets/immaginiProgetti/6.png)">
          </div>
          <div class="content">
            <div class="cats">
              <a class="category-yellow">Food and travel</a>
            </div>
            <div class="author"><img src="assets/immaginiProgetti/el6.png" alt="Thumb" />La Fraschetta</div>
            <div class="title">La Fraschetta keeps growing! The brand expands with a new opening in Trevi, bringing Roman flavour, tradition, and warm conviviality with it.</div>

            <div class="project-stats">
              <div class="stats-value"><span class="value-title">Price per Quota </span><span
                  class="stats-percentage2">€ 39.000</span></div>

              <div class="stats-value"><span class="value-title">Invest from </span><span class="stats-percentage2">€ 390,00</span></div>

              <div class="stats-value"><span class="value-title">Bonus round </span><span
                  class="stats-percentage3">16%</span></div>

              <div class="stats-value">
                <span class="value-title">Expiry round </span>
                <span class="stats-percentage">11/05/2025</span>
              </div>

              <div class="stats-value">
                <span class="value-title">Monthly revenue shared</span>
                <span class="stats-percentage3">8%</span>
              </div>

              <div class="stats-value"><span class="value-title">available quota </span><span
                  class="stats-percentage3">2.000</span></div>

              <div class="contBtn">

                <button class="btn1"><img src="assets/immaginiProgetti/icon.png" class="icon">See more</button>
                <button class="btn2"> starting from
                  <div class="gross">24/05/2025</div>
                </button>

              </div>

            </div>
          </div>
        </div>
      </div>




      <!--Per ora commento che abbiamo solo 6 progetti-->
      <!-- <div class="col-12">
        <div class="view-more-btn text-center mt-40"><a class="main-btn bordered-btn" href="/">View More
            Project <i class="fa-solid fa-arrow-right"></i></a></div>
      </div> -->



    </div>
  </div>
</section>


<!-- Modal -->
<div class="modal-overlay" *ngIf="isModalOpen" (click)="closeModal()">
  <div class="modal-content">

    <div class="d-flex justify-content-center">
      <img src="assets/immaginiGenerali/modaleProgetti.png" class="mProj">
    </div>

    <div class="titoloModale">
      Your account is currently not<br> authorized to invest in this project
    </div>

    <div class="descModale">
      We’re sorry, but your account is currently not<br> authorized to invest in this project. If you are interested<br>
      in
      investing, please contact us at<br>
      <span class="color">investment&#64;unika.email</span>
    </div>

    <button class="btnModale" (click)="closeModal()">I understand</button>


  </div>

</div>


<app-footer></app-footer>
