<div class="contHeader">
  <app-header></app-header>
</div>

<section class="content-section">
  <img src="assets/immaginiGenerali/project1.png" alt="Immagine" class="section-image" />

  <div class="section-content">
    <button class="section-button">Green & Sustainable</button>


    <h2 class="section-title">Co2 NeutralTech is the <br> future of sustainability</h2>

    <img src="assets/immaginiGenerali/project1.png" alt="Immagine" class="section-image2" />

    <div class="logo-section">
      <img src="assets/immaginiGenerali/logoco2B.png" alt="Logo" class="logo" />
      <div class="logo-content">
        <h3 class="logo-title">CO2 NeutralTech</h3>
        <p class="logo-text">14/02/2025</p>
      </div>

      <div class="extra-text-section">
        <p class="extra-text-1">available quotas</p>
        <p class="extra-text-2">1123/2500</p>
      </div>
    </div>

    <div class="info-boxes">
      <div class="info-box">
        <p class="box-title">Invest from</p>
        <p class="box-description">€ 29,50</p>
      </div>
      <div class="info-box">
        <p class="box-title">Price per quota</p>
        <p class="box-description2">€ 0,2950</p>
      </div>

      <div class="info-box">
        <p class="box-title">Monthly revenue</p>
        <p class="box-description2">13%</p>
      </div>

      <div class="info-box">
        <div class="timeboxcont">
          <p class="box-title">Expires project</p>
          <div class="time-boxes">
            <div class="time-box-container">
              <div class="time-box2">
                <p class="time-number">89</p>
              </div>
              <p class="time-label2">day</p>
            </div>
            <div class="time-box-container">
              <div class="time-box2">
                <p class="time-number">22</p>
              </div>
              <p class="time-label2">hrs</p>
            </div>
            <div class="time-box-container">
              <div class="time-box2">
                <p class="time-number">43</p>
              </div>
              <p class="time-label2">min</p>
            </div>
            <div class="time-box-container">
              <div class="time-box2">
                <p class="time-number">32</p>
              </div>
              <p class="time-label2">sec</p>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="card-container">
      <div class="new-card">
        <div class="new-card-header">
          <div class="new-grey-box">
            <h4 class="new-grey-box-title">Amount you want to invest</h4>
            <p class="new-grey-box-text">0,00</p>
          </div>
          <button class="new-card-button">Start simulation</button>
        </div>

        <div class="new-card-body">
          <div class="new-grey-box2">
            <h4 class="new-grey-box-title2">Bonus</h4>
            <p class="new-grey-box-text2">46%</p>
          </div>
          <div class="new-grey-box2">
            <h4 class="new-grey-box-title2">Quota bonus</h4>
            <p class="new-grey-box-text2">78</p>
          </div>
          <div class="new-grey-box2">
            <h4 class="new-grey-box-title2">Bonus value</h4>
            <p class="new-grey-box-text2">14,47</p>
          </div>
        </div>
      </div>

      <!-- Div verde a destra della card -->
      <div class="green-box">
        <img src="assets/immaginiGenerali/coin.svg" alt="Image" class="green-box-img" />
        <p class="green-box-text">Invest now</p>
      </div>
    </div>



  </div>


</section>


<section class="second-section">
  <div class="second-left">
    <h2 class="second-title">The project in 100 words</h2>
    <p class="second-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
      invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
      dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
      dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
      clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
      consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
      sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no
      sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
      elitr, sed diam nonumy eirmod tempor invidunt ut labore et
    </p>
    <img src="/assets/immaginiGenerali/videopj.png" alt="Descrizione" class="second-image">
    <h3 class="second-title">Revenue projection</h3>
    <p class="second-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
      invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
      dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. </p>

    <div class="progress-card">
      <div class="progress-container2">
        <div class="progress-title">Monthly revenue</div>
        <div class="progress-bar">
          <div class="progress-fill" style="width: 85%;"></div>
        </div>
        <div class="progress-percent">€ 157.000</div>

      </div>



      <div class="progress-container2">
        <div class="progress-title">Monthly shared revenue 14%</div>
        <div class="progress-bar">
          <div class="progress-fill" style="width: 75%;"></div>
        </div>
        <div class="progress-percent">€ 21.980</div>

      </div>

      <div class="progress-container2">
        <div class="progress-title">Assignation per quota</div>
        <div class="progress-bar">
          <div class="progress-fill" style="width: 90%;"></div>
        </div>
        <div class="progress-percent">€ 8,72</div>

      </div>

      <div class="progress-container2">
        <div class="progress-title">Yearly profit projection</div>
        <div class="progress-bar">
          <div class="progress-fill" style="width: 62%;"></div>
        </div>
        <div class="progress-percent">62%</div>

      </div>
    </div>
  </div>
  <div class="second-right">

    <!-- <div class="info-card">
      <button class="card-button">Current Round</button>
      <h2 class="card-titles">PRESALE</h2>
      <p class="card-subtitle"><i class="fa-solid fa-calendar-days"
          ></i>02/02/2025 - 28/02/2025</p>

      <div class="card-square">
        <p class="card-square-text-small">quota price</p>
        <p class="card-square-text-big">€0,45</p>
      </div>

      <hr class="card-divider">

      <div class="card-list">
        <div class="card-list-item">
          <span class="list-title">Invest from</span>
          <span class="list-title2">€ 29,50</span>
        </div>
        <div class="card-list-item">
          <span class="list-title">Bonus round</span>
          <span class="list-title2">46%</span>
        </div>
        <div class="card-list-item">
          <span class="list-title">Expiry round</span>
          <span class="list-title3">2D 4H 36M 16S</span>
        </div>
        <div class="card-list-item">
          <span class="list-title">Expires project</span>
          <span class="list-title3">22D 24H 36M 16S</span>
        </div>
        <div class="card-list-item">
          <span class="list-title">available quotas</span>
          <span class="list-title4">1123/2500</span>
        </div>
      </div>



      <div class="flex-container">
        <div class="grey-box2">
          <div class="light-grey-box">
            <div class="light-grey-box-content">
              <h3 class="lightgrey-box-title">Quantity</h3>
              <p class="lightgrey-box-text">169</p>
            </div>
            <div class="button-container">
              <button class="round-button">-</button>
              <button class="round-button" style="font-size: 20px;">+</button>
            </div>
          </div>
          <div class="grey-box-content">
            <h3 class="grey-box-title">Total</h3>
            <p class="grey-box-text">€50</p>
          </div>
        </div>

        <button class="button-card">+ Buy</button>
      </div>




    </div> -->

    <!--1-->
    <div class="info-card">
      <div class="card-button">Current Round</div>
      <h2 class="card-titles">PRESALE</h2>
      <p class="card-subtitle"><i class="fa-solid fa-calendar-days"
          ></i>02/02/2025 - 28/02/2025</p>

      <div class="card-square">
        <p class="card-square-text-small">quota price</p>
        <p class="card-square-text-big">€0,45</p>
      </div>

      <hr class="card-divider">

      <div class="card-list">
        <div class="card-list-item">
          <span class="list-title">Invest from</span>
          <span class="list-title2">€ 29,50</span>
        </div>
        <div class="card-list-item">
          <span class="list-title">Bonus round</span>
          <span class="list-title2">46%</span>
        </div>
        <div class="card-list-item">
          <span class="list-title">Expiry round</span>
          <span class="list-title3">2D 4H 36M 16S</span>
        </div>
        <div class="card-list-item">
          <span class="list-title">Expires project</span>
          <span class="list-title3">22D 24H 36M 16S</span>
        </div>
        <div class="card-list-item">
          <span class="list-title">available quotas</span>
          <span class="list-title4">1123/2500</span>
        </div>
      </div>

      <div class="cardbutton-title">Suggested investments</div>

      <div class="flex-container">
        <!-- <div class="grey-box2">
          <div class="light-grey-box">
            <div class="light-grey-box-content">
              <h3 class="lightgrey-box-title">Quantity</h3>
              <p class="lightgrey-box-text">169</p>
            </div>
            <div class="button-container">
              <button class="round-button">-</button>
              <button class="round-button" style="font-size: 20px;">+</button>
            </div>
          </div>
          <div class="grey-box-content">
            <h3 class="grey-box-title">Total</h3>
            <p class="grey-box-text">€50</p>
          </div>
        </div> -->

        <button class="button-card">€ 1.000</button>
        <button class="button-card">€ 1.000</button>
        <button class="button-card">€ 1.000</button>
      </div>
    </div>

    <!----------------------->
    <!--2-->

    <div class="info-card">
      <!-- <div class="card-button">Current Round</div> -->
      <h2 class="card-titles">PRESALE</h2>
      <p class="card-subtitle"><i class="fa-solid fa-calendar-days"
          ></i>02/02/2025 - 28/02/2025</p>

      <div class="card-square">
        <p class="card-square-text-small">quota price</p>
        <p class="card-square-text-big">€0,45</p>
      </div>

      <hr class="card-divider">

      <div class="card-list">
        <div class="card-list-item">
          <span class="list-title">Invest from</span>
          <span class="list-title2">€ 29,50</span>
        </div>
        <div class="card-list-item">
          <span class="list-title">Bonus round</span>
          <span class="list-title2">46%</span>
        </div>
        <div class="card-list-item">
          <span class="list-title">Expiry round</span>
          <span class="list-title3">2D 4H 36M 16S</span>
        </div>
        <div class="card-list-item">
          <span class="list-title">Expires project</span>
          <span class="list-title3">22D 24H 36M 16S</span>
        </div>
        <div class="card-list-item">
          <span class="list-title">available quotas</span>
          <span class="list-title4">1123/2500</span>
        </div>
      </div>

      <div class="cardbutton-title">Suggested investments</div>

      <div class="flex-container">
        <button class="button-card" [disabled]="!dis">€ 1.000</button>
        <button class="button-card" [disabled]="!dis">€ 1.000</button>
        <button class="button-card" [disabled]="!dis">€ 1.000</button>
      </div>

    </div>


    <!----------------------->
    <!--3-->

     <div class="info-card">
      <!-- <div class="card-button">Current Round</div> -->
      <h2 class="card-titles">PRESALE</h2>
      <p class="card-subtitle"><i class="fa-solid fa-calendar-days"
          ></i>02/02/2025 - 28/02/2025</p>

      <div class="card-square">
        <p class="card-square-text-small">quota price</p>
        <p class="card-square-text-big">€0,45</p>
      </div>

      <hr class="card-divider">

      <div class="card-list">
        <div class="card-list-item">
          <span class="list-title">Invest from</span>
          <span class="list-title2">€ 29,50</span>
        </div>
        <div class="card-list-item">
          <span class="list-title">Bonus round</span>
          <span class="list-title2">46%</span>
        </div>
        <div class="card-list-item">
          <span class="list-title">Expiry round</span>
          <span class="list-title3">2D 4H 36M 16S</span>
        </div>
        <div class="card-list-item">
          <span class="list-title">Expires project</span>
          <span class="list-title3">22D 24H 36M 16S</span>
        </div>
        <div class="card-list-item">
          <span class="list-title">available quotas</span>
          <span class="list-title4">1123/2500</span>
        </div>
      </div>

      <div class="cardbutton-title">Suggested investments</div>

      <div class="flex-container">
        <button class="button-card" [disabled]="!dis">€ 1.000</button>
        <button class="button-card" [disabled]="!dis">€ 1.000</button>
        <button class="button-card" [disabled]="!dis">€ 1.000</button>
      </div>

    </div>




  </div>
</section>


<section class="section3">
  <h2 class="section3-title">How we use the capital</h2>
  <p class="section3-text">
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
    ut labore<br> et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
    rebum.
    <br> Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
  </p>
  <img src="/assets/immaginiGenerali/grafico2.svg" alt="Descrizione immagine" class="section3-image">
  <h2 class="section3-title2">Roadmap</h2>
  <p class="section3-text2">
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
    magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
    gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
    elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero
    eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
    dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
    labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
    Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
    consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed
    diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
    sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
    eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo
    duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem
    ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
    aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
    gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
    elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero
    eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
    dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
    labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
    Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
    consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed
    diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
    sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
    eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo
    duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
  </p>


  <h2 class="section3-title2">Roadmap</h2>
  <p class="section3-text2">
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
    ut labore<br> et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
    rebum.
    <br> Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
  </p>

</section>


<!--Section 4 Alex-->
<!------------------------------------------------>
<!--DESKTOP-->

<div class="desktop">
  <section class="section4">

    <div class="d-flex justify-content-center">

      <div class="boxSection4">

        <div class="rigaBoxSection4">


          <div class="contBoxSection4">
            <div class="titolocontBoxSection4">
              15/03/2025
            </div>
            <div class="sferaBoxSection4"></div>
            <div class="testocontBoxSection4">
              Lorem ipsum dolor sit<br> amet, consetetur<br> sadipscing elitr, sed diam<br> nonumy eirmod tempor<br>
              invidunt ut labore et
              dolore
            </div>
          </div>

          <div class="contBoxSection4">
            <div class="titolocontBoxSection4">
              15/03/2025
            </div>
            <div class="sferaBoxSection4"></div>
            <div class="testocontBoxSection4">
              Lorem ipsum dolor sit<br> amet, consetetur<br> sadipscing elitr, sed diam<br> nonumy eirmod tempor<br>
              invidunt ut labore et
              dolore
            </div>
          </div>

          <div class="contBoxSection4">
            <div class="titolocontBoxSection4">
              15/03/2025
            </div>
            <div class="sferaBoxSection4"></div>
            <div class="testocontBoxSection4">
              Lorem ipsum dolor sit<br> amet, consetetur<br> sadipscing elitr, sed diam<br> nonumy eirmod tempor<br>
              invidunt ut labore et
              dolore
            </div>
          </div>

          <div class="contBoxSection4">
            <div class="titolocontBoxSection4">
              15/03/2025
            </div>
            <div class="sferaBoxSection4"></div>
            <div class="testocontBoxSection4">
              Lorem ipsum dolor sit<br> amet, consetetur<br> sadipscing elitr, sed diam<br> nonumy eirmod tempor<br>
              invidunt ut labore et
              dolore
            </div>
          </div>


          <div class="linea1"></div>


        </div>

        <!-------------------------------------------------------->


        <div class="rigaBoxSection4">
          <div class="contBoxSection4">
            <div class="titolocontBoxSection4">
              15/03/2025
            </div>
            <div class="sferaBoxSection4"></div>
            <div class="testocontBoxSection4">
              Lorem ipsum dolor sit<br> amet, consetetur<br> sadipscing elitr, sed diam<br> nonumy eirmod tempor<br>
              invidunt ut labore et
              dolore
            </div>
          </div>

          <div class="contBoxSection4">
            <div class="titolocontBoxSection4">
              15/03/2025
            </div>
            <div class="sferaBoxSection4"></div>
            <div class="testocontBoxSection4">
              Lorem ipsum dolor sit<br> amet, consetetur<br> sadipscing elitr, sed diam<br> nonumy eirmod tempor<br>
              invidunt ut labore et
              dolore
            </div>
          </div>

          <div class="contBoxSection4">
            <div class="titolocontBoxSection4">
              15/03/2025
            </div>
            <div class="sferaBoxSection4"></div>
            <div class="testocontBoxSection4">
              Lorem ipsum dolor sit<br> amet, consetetur<br> sadipscing elitr, sed diam<br> nonumy eirmod tempor<br>
              invidunt ut labore et
              dolore
            </div>
          </div>

          <div class="contBoxSection4">
            <div class="titolocontBoxSection4">
              15/03/2025
            </div>
            <div class="sferaBoxSection4"></div>
            <div class="testocontBoxSection4">
              Lorem ipsum dolor sit<br> amet, consetetur<br> sadipscing elitr, sed diam<br> nonumy eirmod tempor<br>
              invidunt ut labore et
              dolore
            </div>
          </div>


          <div class="linea1"></div>

        </div>

      </div>
    </div>


  </section>
</div>

<!------------------------------------------------>
<!--MOBILE-->

<div class="mobile">
  <section class="section4">
    <div class="boxSection4">

      <div class="scroll">
        <div class="left">
          Scroll left
        </div>
        <div class="bordoArrow">
        <i class="fa-solid fa-arrow-right"></i>
      </div>
      </div>


    <div class="d-flex justify-content-center">
      <div class="scrollContainer" appDragScroll>
        <div class="contBoxSection4">
          <div class="titolocontBoxSection4">15/03/2025</div>
          <div class="sferaBoxSection4"></div>
          <div class="testocontBoxSection4">
            Lorem ipsum dolor sit<br> amet, consetetur<br> sadipscing elitr, sed diam<br> nonumy eirmod tempor<br>
            invidunt ut labore et
            dolore
          </div>
        </div>

        <div class="contBoxSection4">
          <div class="titolocontBoxSection4">15/03/2025</div>
          <div class="sferaBoxSection4"></div>
          <div class="testocontBoxSection4">
            Lorem ipsum dolor sit<br> amet, consetetur<br> sadipscing elitr, sed diam<br> nonumy eirmod tempor<br>
            invidunt ut labore et
            dolore
          </div>
        </div>

        <div class="contBoxSection4">
          <div class="titolocontBoxSection4">15/03/2025</div>
          <div class="sferaBoxSection4"></div>
          <div class="testocontBoxSection4">
            Lorem ipsum dolor sit<br> amet, consetetur<br> sadipscing elitr, sed diam<br> nonumy eirmod tempor<br>
            invidunt ut labore et
            dolore
          </div>
        </div>

        <div class="contBoxSection4">
          <div class="titolocontBoxSection4">15/03/2025</div>
          <div class="sferaBoxSection4"></div>
          <div class="testocontBoxSection4">
            Lorem ipsum dolor sit<br> amet, consetetur<br> sadipscing elitr, sed diam<br> nonumy eirmod tempor<br>
            invidunt ut labore et
            dolore
          </div>
        </div>

        <div class="contBoxSection4">
          <div class="titolocontBoxSection4">15/03/2025</div>
          <div class="sferaBoxSection4"></div>
          <div class="testocontBoxSection4">
            Lorem ipsum dolor sit<br> amet, consetetur<br> sadipscing elitr, sed diam<br> nonumy eirmod tempor<br>
            invidunt ut labore et
            dolore
          </div>
        </div>

        <div class="contBoxSection4">
          <div class="titolocontBoxSection4">15/03/2025</div>
          <div class="sferaBoxSection4"></div>
          <div class="testocontBoxSection4">
            Lorem ipsum dolor sit<br> amet, consetetur<br> sadipscing elitr, sed diam<br> nonumy eirmod tempor<br>
            invidunt ut labore et
            dolore
          </div>
        </div>

        <div class="contBoxSection4">
          <div class="titolocontBoxSection4">15/03/2025</div>
          <div class="sferaBoxSection4"></div>
          <div class="testocontBoxSection4">
            Lorem ipsum dolor sit<br> amet, consetetur<br> sadipscing elitr, sed diam<br> nonumy eirmod tempor<br>
            invidunt ut labore et
            dolore
          </div>
        </div>

        <div class="contBoxSection4">
          <div class="titolocontBoxSection4">15/03/2025</div>
          <div class="sferaBoxSection4"></div>
          <div class="testocontBoxSection4">
            Lorem ipsum dolor sit<br> amet, consetetur<br> sadipscing elitr, sed diam<br> nonumy eirmod tempor<br>
            invidunt ut labore et
            dolore
          </div>
        </div>

          <div class="linea1"></div>



      </div>
    </div>
    </div>
  </section>
</div>




<!------------------------------------------------>
<section class="section5">

  <div class="slider">
    <app-slider-projec-details></app-slider-projec-details>
  </div>
</section>

<!------------------------------------------------>


<section class="sectionPaper">

  <div class="boxPaper">
    <div class="titoloPaper">
      Download our whitepaper
    </div>

    <div class="contPaper">
      <button class="btnPaper">Whitepaper PT</button>
      <button class="btnPaper">Whitepaper EN</button>
      <button class="btnPaper">Whitepaper IT</button>
      <button class="btnPaper">Whitepaper ES</button>
    </div>


  </div>


</section>




<app-footer></app-footer>
