<section class="classCheck container">
  <div class="checkbox-container">
    <div class="check1">
      <div class="contCheck">
        <input type="checkbox" class="checkboxPIN custom-control" id="checkbox1" (change)="onCheckboxChange(0)">
        <label class="labeltesto" for="checkbox1">
          I accept Unika <span class="orange">Terms and Conditions</span> and <span
            class="orange">Cookies</span>
        </label>
      </div>
    </div>

    <div class="check2">
      <div class="contCheck">
        <input type="checkbox" class="checkboxPIN custom-control" id="checkbox2" (change)="onCheckboxChange(1)">
        <label class="labeltesto" for="checkbox2">
          I accept Registro Unico's <span class="orange">Terms and Conditions</span> and <span
            class="orange">Cookies</span>
        </label>
      </div>
    </div>

    <div class="check2">
      <div class="contCheck">
        <input type="checkbox" class="checkboxPIN custom-control" id="checkbox3" (change)="onCheckboxChange(2)">
        <label class="labeltesto" for="checkbox3">
          I accept the <span class="orange">Privacy Policy</span> and the <span class="orange">Ethical
            Chart</span></label>
      </div>
    </div>
  </div>
</section>
