@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon/icomoon.eot?6sr1yk');
  src: url('../fonts/icomoon/icomoon.eot?6sr1yk#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.ttf?6sr1yk') format('truetype'),
    url('../fonts/icomoon/icomoon.woff?6sr1yk') format('woff'),
    url('../fonts/icomoon/icomoon.svg?6sr1yk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-log-out:before {
  content: '\e907';
  display: none;
}
.icon-fx:before {
  content: '\e900';
}
.icon-art-gallery:before {
  content: '\e901';
}
.icon-link:before {
  content: '\e902';
}
.icon-diamond:before {
  content: '\e903';
}
.icon-certificate:before {
  content: '\e904';
}
.icon-vr:before {
  content: '\e905';
}
.icon-canvasrulers:before {
  content: '\e906';
}
