* {
  font-family: "Roboto", sans-serif;

}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1002;
  pointer-events: none;

}

.modal-content {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: #fff;
  padding: 0.9vw;
  border-radius: 2vw;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1001;
  height: auto;
  width: 25vw;
  border: solid 1px #223D7F;
}

.modal-setting {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 1vw;
  border-radius: 1.5vw;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1100;
  width: 33vw;
  height: auto;
}



.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.testo {
  font-size: 0.9vw;
  line-height: 1.5;
  margin-top: 3vh;
  color: black;
}

.cont {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}



.contBtn {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1vh;
  margin-top: 5vh;
}

.contBtn2 {
  display: flex;
  align-items: end;
  justify-content: end;
  gap: 3%;
  margin-top: 2vh;
  margin-bottom: 3vh;
}

.btnModal {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7vh;
  color: white;
  border-radius: 3vw;
  background-color: #223D7F;
  width: 20vw;
  font-size: 0.9vw;
  z-index: 9999;
  /* Imposta un valore più alto */

}

.btnAccept {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6vh;
  color: white;
  border-radius: 3vw;
  background-color: #223D7F;
  width: 10vw;
  font-size: 0.9vw;
  margin-top: 1vh;
  z-index: 1003;
  /* Imposta un valore più alto */

}

.btnFinalModal {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6vh;
  color: white;
  border-radius: 3vw;
  background-color: #223D7F;
  width: 12vw;
  font-size: 0.9vw;
  z-index: 1003;
  /* Imposta un valore più alto */

}

.cookieSettings {
  margin-top: 3vh;
  color: #223D7F !important;
  font-size: 0.9vw;
  text-decoration: underline !important;
  font-weight: bold;
  margin-bottom: 2vh;
  cursor: pointer;
}


.logo {
  width: 5vw;
}


.linea {
  width: 100%;
  height: 0.1vh;
  margin-top: 1vh;
  background-color: rgb(202, 202, 202);
}

.titoloSettings {
  color: #000000;
  font-size: 0.9vw;
  font-weight: bold;
  margin-top: 1vh;
}

.descSettings {
  font-size: 0.8vw;
  color: #000000;
}


.color {
  font-weight: bold;
  color: #223D7F;
}

.testo2 {
  font-weight: bold;
  color: black;
  font-size: 0.9vw;
}

.testo3 {
  font-weight: bold;
  color: black;
  font-size: 0.9vw;
  margin-top: 1vh;
}

.contTesto2 {
  display: flex;
  align-items: center;
  gap: 5%;
  margin-top: 2vh;
}

a {
  color: black !important;
}


.contChooise {
  display: grid;
  grid-template-columns: 1fr auto;
  /* la seconda colonna si adatta al contenuto */
  gap: 1vh 1vw;
  padding: 0.9vw;
  margin-top: 1vh;
  align-items: center;
  border: 1px solid #D5D5D5;
  border-radius: 1vw;
}

.contChooise> :nth-child(2n) {
  justify-self: end;
  /* allinea a destra tutti gli elementi nella seconda colonna */
}


.always {
  font-size: 0.9vw;
  color: #223D7F;
  font-weight: bold;
  font-style: italic;
  text-align: right;
}


.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  background-color: #ccc;
  border-radius: 34px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: .4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

/* Quando attiva */
input:checked+.slider {
  background-color: #223D7F;
  /* Colore attivo */
}

input:checked+.slider::before {
  transform: translateX(22px);
}

@media screen and (max-width:600px) {

  .modal-content {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #fff;
    padding: 0.9vw;
    border-radius: 5vw;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1001;
    height: auto;
    width: 80%;
    border: solid 1px #223D7F;
  }

  .testo {
    font-size: 4vw;
    line-height: normal;
    margin-top: 2vh;
    color: black;
  }

  .contBtn {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1vh;
    margin-top: 2vh;
  }

  .btnModal {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6vh;
    color: white;
    border-radius: 6vw;
    background-color: #223D7F;
    width: 50vw;
    font-size: 4vw;
    z-index: 9999;
  }

  .cookieSettings {
    margin-top: 2vh;
    color: #223D7F !important;
    font-size: 4vw;
    text-decoration: underline !important;
    font-weight: bold;
    margin-bottom: 2vh;
    cursor: pointer;
  }

  .modal-setting {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 1vw;
    border-radius: 3vw;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1100;
    width: 90%;
    height: auto;
  }

  .logo {
    width: 20vw;
  }

  .titoloSettings {
    color: #000000;
    font-size: 5vw;
    font-weight: bold;
    margin-top: 1vh;
  }

  .descSettings {
    font-size: 2.7vw;
    color: #000000;
  }

  .contTesto2 {
    display: flex;
    align-items: center;
    gap: 5%;
    margin-top: 1vh;
  }

  .testo2 {
    font-weight: bold;
    color: black;
    font-size: 3vw;
  }

  .btnAccept {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    color: white;
    border-radius: 9vw;
    background-color: #223D7F;
    width: 50vw;
    font-size: 4vw;
    margin-top: 1vh;
    z-index: 1003;
  }

  .testo3 {
    font-weight: bold;
    color: black;
    font-size: 3vw;
    margin-top: 1vh;
  }

  .contBtn2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3%;
    margin-top: 2vh;
    margin-bottom: 3vh;
  }

  .btnFinalModal {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    color: white;
    border-radius: 6vw;
    background-color: #223D7F;
    width: 41vw;
    font-size: 4vw;
    z-index: 1003;
  }
}
