.contHeader {
  background-color: white;
  width: 100%;
  height: 12.4vh;
  z-index: 99999;
}

.page-title-area {
  position: relative;
  z-index: 1;
  padding: 125px 0;
  background-image: url(/assets/immaginiContatti/intro.jpg);
  background-size: cover;
  background-position: 50%;
}

.section-gap-extra-bottom {
  padding-top: 115px;
  padding-bottom: 200px;
}



/*------------------------------------------------*/

.sectionProject {
  width: 100%;
  border-radius: 1vw;
  height: 30vh;
  border: solid 2px #223D7F;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
}

.contProject {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}

.boxProject {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.persButton {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #223D7F;
  border-radius: 0.5vw;
  font-size: 1vw;
  width: 20vw;
  height: 7vh;

}

/*------------------------------------------------*/

.boxGreen {
  background-color: #0BAC62;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 20px;
  overflow: hidden;
  position: absolute;
  z-index: 9999;
  transform: translateY(-50%);
  margin-top: -6vh;
}

.bgOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/assets/immaginiContatti/1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.07;
  z-index: 0;
}

.boxGreen>*:not(.bgOverlay) {
  position: relative;
  z-index: 1;
}


.testo1 {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.titolo1 {
  color: white;
  font-weight: bold;
  font-size: 1.5vw;
}


.titolo2 {
  color: white;
  font-weight: bold;
  font-size: 2vw;
}


.btnFinal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.3;
  text-align: center;
  transition: all .3s ease-out 0s;
  color: white;
  background-color: transparent;
  padding: 16px 36px;
  border-radius: 35px;
  position: relative;
  z-index: 1;
  border: 1px solid white;
  transition: border-radius 0.5s, background-color 0.5s;
  width: 17vw;
}

.btnFinal:hover {
  border-radius: 1vw;
  background-color: #001d23;
  border: none;
}


.fa-arrow-right {
  font-size: 1.2vw;
  color: white;
}


.btnFinal::after {
  border-radius: 1vw;
  transition: 0.5s;
}



@media screen and (max-width:600px) {

  .boxGreen {
    background-color: #0BAC62;
    width: 90%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3vw;
    overflow: hidden;
    z-index: 9999;
    position: relative;
    margin-top: -19vh;
    flex-direction: column;
    gap: 2vh;
    margin-bottom: 5vh;
    transform: none;
    padding: 50px 15px;
  }

  .titolo1 {
    color: white;
    font-weight: bold;
    font-size: 4vw;
    text-align: center;
  }

  .titolo2 {
    color: white;
    font-weight: bold;
    font-size: 6vw;
    text-align: center;
  }

  .btnFinal {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2px white;
    color: white;
    height: 6vh;
    font-size: 4vw;
    width: 80%;
    border-radius: 17vw;
    gap: 5%;
    font-weight: bold;
    background-color: transparent;
    margin-bottom: 2vh;
    margin-top: 5vh;
  }

  .fa-arrow-right {
    font-size: 5vw;
    color: white;
  }

}
