.cerchio {
  margin-bottom: 3.799vh;
}

.progress-ring {
  opacity: 1;
  animation: fadeIn 1s ease-in-out forwards;
  transition: stroke-dashoffset 1s linear;
}


.timer-text {
  font-weight: 500;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.codice {
  text-align: center;
  font-size: 0.99vw;
}

.altrocodice {
  color: #223D7F;
  font-weight: bold;
  cursor: pointer;
  font-size: 0.99vw;
  font-family: Arial, Helvetica, sans-serif;
}

.disabled {
  color: gray;
  cursor: not-allowed;
  pointer-events: none;
  /* Impedisce al mouse di interagire con l'elemento */

}


@media screen and (max-width:600px) {

  .codice {
    text-align: center;
    font-size: 3.623vw;
  }

  .altrocodice {
    font-weight: bold;
    cursor: pointer;
    font-size: 3.865vw;
  }

  .disabled {
    color: gray;
    cursor: not-allowed;
    pointer-events: none;
    /* Impedisce al mouse di interagire con l'elemento */

  }


}
