a {
  text-decoration: none;
}


/*--------------------------*/

.contBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1%;
  margin-bottom: 2.174vh;
}

.boxGreen {
  width: 17vw;
  height: 40vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
  background-color: white;
  border-radius: 1.875vw;
  flex-direction: column;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}


.bordoIcona {
  background-color: #7ACE19;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.5vw;
  height: 7vh;
  margin-top: 1.739vh;

}

.iconServizi {
  width: 9vw;
  margin-top: 5vh;
  height: auto;
}

.titoloBox {
  color: black;
  font-weight: bold;
  font-size: 1.5vw;
  text-align: center;
  margin-top: 1.196vh;
  line-height: 1.2;
}

.descrizioneBox {
  color: #41B74F;
  font-weight: 500;
  text-align: center;
  font-size: 1vw;
  margin-top: 0.761vh;
}

.buttonDescrizione {
  background-color: #199C38;
  font-size: 1vw;
  color: white;
  border-radius: 2vw;
  text-align: center;
  border: none;
  margin-top: 2vh;
  padding: 0.5vw;
  width: 10vw;
  font-weight: bold;
  height: 6vh;
}

swiper-slide {
  justify-content: center;
  display: flex
}

.contPers {
  margin-top: 6.739vh;
}

@media screen and (max-width:600px) {


  swiper-slide {
    text-align: left;
    font-size: 24px;
    border-radius: 24px;
    position: relative;
    width: 100% !important;
  }

  .mio {
    width: 99%;
    height: auto;
    border-radius: 3vw;
    object-fit: cover;
    /* Mantiene le proporzioni dell'immagine */
  }


  .boxGreen {
    width: 90%;
    height: 43vh;
    background-color: #FFFFFF;
    border-radius: 6vw;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-self: center;
    box-shadow: 0px 5px 25px #0000001C;
  }


  .titoloBox {
    font-size: 8vw;
  }


  .descrizioneBox {
    font-size: 5vw;
  }

  .bordoIcona {
    background-color: #7ACE19;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18vw;
    height: 9vh;
    margin-top: 1.739vh;

  }


  .iconServizi {
    width: 40vw;
    height: auto;
  }


  .buttonDescrizione {
    background-color: #199C38;
    font-size: 5vw;
    color: white;
    border-radius: 9vw;
    text-align: center;
    border: none;
    margin-top: 2vh;
    padding: 0.5vw;
    width: 70%;
    font-weight: bold;
    height: 6vh;
    margin-bottom: 2vh;
  }










}
