<!-- <section class="sectionCong" *ngIf="phasePin!==3">
  <div class="contCong">
    <img src="assets/immaginiGenerali/congratulations.png" class="cong">
  </div>

  <div class="titoloCong">
    Congratulations,
  </div>

  <div class="desktop">
    <div class="descCong">
      You have successfully created your account. Now<br> please go to the login page and access your account
    </div>
  </div>


  <div class="mobile">
    <div class="descCong">
      You have successfully created your<br> account. Now please go to the login<br> page and access your account
    </div>
  </div>

  <button (click)="goToLoginPrivate()" class="buttonCong">Access your account</button>

</section>

<section class="sectionCong" *ngIf="phasePin==3">
  <div class="contCong">
    <img src="assets/immaginiGenerali/congratulations.png" class="cong">
  </div>

  <div class="titoloCong">
    Congratulations,
  </div>

  <div class="desktop">
    <div class="descCong">
      You have successfully changed your PIN.<br> You can now access your account.
    </div>
  </div>



  <button (click)="goLoginAfterPin()" class="buttonCong">Go to login</button>

</section> -->


<!----------------------------------------------------------->


<section class="sectionCong" *ngIf="phasePin!==3">
  <div class="contCong">
    <img src="assets/immaginiGenerali/congratulations.png" class="cong">
  </div>

  <div class="titoloCong">
    Welcome to Unika!
  </div>

  <div class="desktop">
    <div class="descCong">
      We will contact you at the phone number you provided within 7 days<br> to verify your identity and activate your account.
    </div>
  </div>


  <div class="mobile">
    <div class="descCong">
      We will contact you at the phone number<br> you provided within 7 days to verify your identity and activate your account.
    </div>
  </div>

  <button (click)="goToLoginPrivate()" class="buttonCong">Access your account</button>

</section>



<section class="sectionCong" *ngIf="phasePin==3">
  <div class="contCong">
    <img src="assets/immaginiGenerali/congratulations.png" class="cong">
  </div>

  <div class="titoloCong">
    Congratulations,
  </div>

  <div class="desktop">
    <div class="descCong">
      You have successfully changed your PIN.<br> You can now access your account.
    </div>
  </div>



  <button (click)="goLoginAfterPin()" class="buttonCong">Go to login</button>

</section>
