<app-header></app-header>

<app-privacy-terms-modal></app-privacy-terms-modal>

<section class="hero-area-one">
  <div class="hero-text">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-10"><span class="tagline wow fadeInUp" data-wow-delay="0.3s" style="color: #223D7F;">Invest
            and trade
          </span>
          <h1 class="title wow fadeInUp" data-wow-delay="0.4s">Invest now in<br> regulated quotas
          </h1><a class="main-btn wow fadeInUp" data-wow-delay="0.5s" routerLink="/projectsiqo">Explore
            Projects</a>
        </div>
      </div>
    </div>
    <div class="hero-shapes">
      <div class="hero-line-one"><img src="assets/immaginiGenerali/hero-line.png" alt="Line" /></div>
      <div class="hero-line-two"><img src="assets/immaginiGenerali/hero-line-2.png" alt="Line" /></div>
      <div class="dot-one"></div>
      <div class="dot-two"></div>
    </div>
  </div>
  <div class="hero-images">
    <div class="hero-img image-small fancy-bottom wow fadeInLeft" data-wow-delay="0.6s">
      <img src="assets/immaginiHome/rectangle2.png" alt="Image" />
    </div>
    <div class="hero-img main-img wow fadeInUp" data-wow-delay="0.5s">
      <img src="assets/immaginiHome/rectangle.png" alt="Image" />
    </div>
    <div class="hero-img image-small fancy-top wow fadeInRight" data-wow-delay="0.7s">
      <img src="assets/immaginiHome/rectangle3.png" alt="Image" />
    </div>
  </div>
</section>
<section class="popular-categories section-gap">
  <div class="container">
    <div class="categories-header">
      <div class="row align-items-center justify-content-between">
        <div class="col-auto">
          <div class="common-heading mb-30"><span class="tagline"><i class="fa-solid fa-plus"></i>CHOOSE YOUR FAVORITE
              CATEGORY<span class="heading-shadow-text">Category</span></span>
            <h2 class="title">Popular Categories</h2>
          </div>
        </div>
        <div class="col-auto"><a class="main-btn mb-30" href="/project-1">View All Category <i
              class="fa-solid fa-angle-right"></i></a></div>
      </div>
    </div>
    <div class="row justify-content-center fancy-icon-boxes">
      <div class="col-xl-4 col-md-6 col-sm-10 wow fadeInUp" data-wow-delay="0s">
        <div class="fancy-box-item mt-30">
          <div class="icon">
            <img src="assets/immaginiHome/icona6.png" alt="Icon">
          </div>
          <div class="content">
            <h4 class="title"><a href="/project-details">Green & Sustainable</a></h4>
            <h5 class="subtitle">carbon credit, green projects</h5>
            <!-- <p>School, Collage &amp; University</p> -->
          </div>
        </div>
      </div>


      <div class="col-xl-4 col-md-6 col-sm-10 wow fadeInUp" data-wow-delay="0.1s">
        <div class="fancy-box-item mt-30">
          <div class="icon">
            <img src="assets/immaginiHome/icona5.png" alt="Icon">
          </div>
          <div class="content">
            <h4 class="title"><a href="/project-details">Travel</a></h4>
            <h5 class="subtitle">Hotels, tour operator, services</h5>
            <!-- <p>School, Collage &amp; University</p> -->
          </div>
        </div>
      </div>

      <div class="col-xl-4 col-md-6 col-sm-10 wow fadeInUp" data-wow-delay="0.2s">
        <div class="fancy-box-item mt-30">
          <div class="icon">
            <img src="assets/immaginiHome/icona4.png" alt="Icon">
          </div>
          <div class="content">
            <h4 class="title"><a href="/project-details">Sport</a></h4>
            <h5 class="subtitle">infranstructures, players, teams</h5>
            <!-- <p>School, Collage &amp; University</p> -->
          </div>
        </div>
      </div>


      <div class="col-xl-4 col-md-6 col-sm-10 wow fadeInUp" data-wow-delay="0.3s">
        <div class="fancy-box-item mt-30">
          <div class="icon">
            <img src="assets/immaginiHome/icona3.png" alt="Icon">
          </div>
          <div class="content">
            <h4 class="title"><a href="/project-details">Pet</a></h4>
            <h5 class="subtitle">Store, services, diet</h5>
            <!-- <p>School, Collage &amp; University</p> -->
          </div>
        </div>
      </div>


      <div class="col-xl-4 col-md-6 col-sm-10 wow fadeInUp" data-wow-delay="0.4s">
        <div class="fancy-box-item mt-30">
          <div class="icon">
            <img src="assets/immaginiHome/icona2.png" alt="Icon">
          </div>
          <div class="content">
            <h4 class="title"><a href="/project-details">Food & Beverage</a></h4>
            <h5 class="subtitle">Markets, restaurants, coffees</h5>
            <!-- <p>School, Collage &amp; University</p> -->
          </div>
        </div>
      </div>



      <div class="col-xl-4 col-md-6 col-sm-10 wow fadeInUp" data-wow-delay="0.5s">
        <div class="fancy-box-item mt-30">
          <div class="icon">
            <img src="assets/immaginiHome/icona1.png" alt="Icon">
          </div>
          <div class="content">
            <h4 class="title"><a href="/project-details">Beauty</a></h4>
            <h5 class="subtitle">Stores, wellness, brand</h5>
            <!-- <p>School, Collage &amp; University</p> -->
          </div>
        </div>
      </div>


    </div>
  </div>
</section>
<section class="about-section-one">
  <div class="container">
    <div class="row align-items-center justify-content-lg-start justify-content-center">
      <div class="col-xl-6 col-lg-7 col-md-9">
        <div class="about-img"><img src="assets/immaginiHome/people.png" alt="Image" /></div>
      </div>
      <div class="col-xl-4 col-lg-5 col-md-10 offset-xl-1">
        <div class="about-text mt-md-70 mb-md-50">
          <div class="common-heading mb-30"><span class="tagline"><i class="fa-solid fa-plus"></i> REGULATED
              INVESTMENT<span class="heading-shadow-text">Invest</span></span>
            <h2 class="title">Why choose Quotas</h2>
          </div>
          <p>Quotas are a form of legally regulated participatory membership investment. Every transaction is written on
            blockchain and is publicly verifiable.</p>
          <div class="author-note wow fadeInUp">
            <ul>
              <li><i class="fa-solid fa-check"></i> IQOs are regulated</li>
              <li><i class="fa-solid fa-check"></i> <!-- -->Investing in IQO is profitable
                <!-- -->
              </li>
            </ul>
            <div class="author-info">
              <div class="author-img"><img src="assets/immaginiHome/flavio.png" alt="Image" />
              </div>
              <h5 class="name">Flavio V. Trifoni</h5><span class="title">CEO &amp; Founder</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-slider-home></app-slider-home>

<section class="counter-section-one mt-negative">
  <div class="container primary-bg">
    <div class="row counter-boxes justify-content-xl-between justify-content-center">
      <div class="col-xl-auto col-lg-5 col-md-5 col-sm-6">
        <div class="counter-box mb-40 icon-left">
          <div class="icon white-color">
            <img src="assets/immaginiHome/ban1.png" alt="Rocket Icon" />
          </div>
          <div class="content white-color">
            <div class="count-wrap">
              <span class="count" data-to="200">200</span><span class="suffix">+</span>
            </div>
            <h6 class="title">IQO Launched</h6>
          </div>
        </div>
      </div>

      <div class="col-xl-auto col-lg-5 col-md-5 col-sm-6">
        <div class="counter-box mb-40 icon-left">
          <div class="icon white-color">
            <img src="assets/immaginiHome/ban2.png" alt="Rocket Icon" />
          </div>
          <div class="content white-color">
            <div class="count-wrap"><span class="count" data-to="49">49</span><span class="suffix">+</span></div>
            <h6 class="title">Quotas traded</h6>
          </div>
        </div>
      </div>
      <div class="col-xl-auto col-lg-5 col-md-5 col-sm-6">
        <div class="counter-box mb-40 icon-left">
          <div class="icon white-color">
            <img src="assets/immaginiHome/ban3.png" alt="Rocket Icon" />
          </div>
          <div class="content white-color">
            <div class="count-wrap"><span class="count" data-to="62">62</span><span class="suffix">M +</span></div>
            <h6 class="title">Value generated</h6>
          </div>
        </div>
      </div>
      <div class="col-xl-auto col-lg-5 col-md-5 col-sm-6">
        <div class="counter-box mb-40 icon-left">
          <div class="icon white-color">
            <img src="assets/immaginiHome/ban4.png" alt="Rocket Icon" />
          </div>
          <div class="content white-color">
            <div class="count-wrap"><span class="count" data-to="85">85</span><span class="suffix">K +</span></div>
            <h6 class="title">Exchange user</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="testimonials-section section-gap">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-xl-4 col-lg-6 col-md-8 col-sm-10">
        <div class="testimonials-content mb-lg-50">
          <div class="common-heading mb-30"><span class="tagline"><i class="fa-solid fa-plus"></i> clients
              Feedback<span class="heading-shadow-text">Testimonials</span></span>
            <h2 class="title">Feedback</h2>
          </div>
          <p>Unika Exchange simplifies quota trading with transparency and security.
            Every transaction is blockchain-verified, ensuring trust and accountability for every participant.</p><a
            class="main-btn mt-35" href="/testimonial">Open account
            <i class="fa-solid fa-arrow-right"></i></a>
          <div class="testimonial-author-boxes wow fadeInUp" data-wow-delay="0.2s">
            <h6>Most Popular Clients</h6>
            <ul class="author-images">
              <li data-tooltip="true" data-placement="top" data-original-title="Donald L. Juarez">
                <a href="#"><img src="assets/immaginiHome/feed1.png" alt="user one" /></a>
              </li>
              <li data-tooltip="true" data-placement="top" data-original-title="Evan A. Ethridge">
                <a href="#"><img src="assets/immaginiHome/feed2.png" alt="user one" /></a>
              </li>
              <li data-tooltip="true" data-placement="top" data-original-title="Donald L. Lewis">
                <a href="#"><img src="assets/immaginiHome/feed3.png" alt="user one" /></a>
              </li>
              <li data-tooltip="true" data-placement="top" data-original-title="Marcus L. Duncan">
                <a href="#"><img src="assets/immaginiHome/feed4.png" alt="user one" /></a>
              </li>
              <li data-tooltip="true" data-placement="top" data-original-title="Evan A. Ethridge">
                <a href="#"><img src="assets/immaginiHome/feed5.png" alt="user one" /></a>
              </li>
              <li data-tooltip="true" data-placement="top" data-original-title="M. Jon Doe"><a href="#"><img
                    src="assets/immaginiHome/feed6.png" alt="user one" /></a>
              </li>
              <li data-tooltip="true" data-placement="top" data-original-title="More"><a href="#" class="more-icon"><i
                    class="fa-solid fa-plus"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xl-8 col-lg-10">
        <div class="testimonial-boxes square-shape">
          <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6 col-sm-10">
              <div class="testimonial-box-one wow fadeInUp" data-wow-delay="0s">
                <div class="author-info">
                  <div class="author-img"><img src="assets/immaginiHome/sofia.png" alt="Thumb" /></div>
                  <div>
                    <h5 class="name">Sofia R.</h5>
                    <p class="position">Quota trader</p>
                  </div>
                </div>
                <p class="testimonial-desc">Unika Exchange makes quota trading effortless and secure.
                  The blockchain-based verification ensures complete transparency and peace of mind.</p>
                <div class="rating-wrap"><span>Rating</span>
                  <ul>
                    <li><i class="fa-solid fa-star"></i></li>
                    <li><i class="fa-solid fa-star"></i></li>
                    <li><i class="fa-solid fa-star"></i></li>
                    <li><i class="fa-solid fa-star"></i></li>
                    <li><i class="fa-solid fa-star"></i></li>
                  </ul>
                </div>
              </div>
              <div class="testimonial-box-one mt-30 wow fadeInUp" data-wow-delay="0.1s">
                <div class="author-info">
                  <div class="author-img"><img src="assets/immaginiHome/elena.png" alt="Thumb" /></div>
                  <div>
                    <h5 class="name">Elena T.</h5>
                    <p class="position">Quota trader/exchange user</p>
                  </div>
                </div>
                <p class="testimonial-desc">Finally, a regulated way to trade quotas with confidence.
                  Unika Exchange provides clarity, security, and an easy-to-use interface.</p>
                <div class="rating-wrap"><span>Rating</span>
                  <ul>
                    <li><i class="fa-solid fa-star"></i></li>
                    <li><i class="fa-solid fa-star"></i></li>
                    <li><i class="fa-solid fa-star"></i></li>
                    <li><i class="fa-solid fa-star"></i></li>
                    <li><i class="fa-solid fa-star"></i></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-10">
              <div class="testimonial-box-one mt-30 wow fadeInUp" data-wow-delay="0.2s">
                <div class="author-info">
                  <div class="author-img"><img src="assets/immaginiHome/marco.png" alt="Thumb" /></div>
                  <div>
                    <h5 class="name">Marco L.</h5>
                    <p class="position">Exchange user</p>
                  </div>
                </div>
                <p class="testimonial-desc">A seamless experience! The platform is intuitive, transactions are instant,
                  and I love knowing everything is securely recorded on the blockchain.</p>
                <div class="rating-wrap"><span>Rating</span>
                  <ul>
                    <li><i class="fa-solid fa-star"></i></li>
                    <li><i class="fa-solid fa-star"></i></li>
                    <li><i class="fa-solid fa-star"></i></li>
                    <li><i class="fa-solid fa-star"></i></li>
                    <li><i class="fa-solid fa-star"></i></li>
                  </ul>
                </div>
              </div>
              <div class="testimonial-box-one mt-30 wow fadeInUp" data-wow-delay="0.3s">
                <div class="author-info">
                  <div class="author-img"><img src="assets/immaginiHome/daniel.png" alt="Thumb" /></div>
                  <div>
                    <h5 class="name">Daniel M.</h5>
                    <p class="position">Quota trader</p>
                  </div>
                </div>
                <p class="testimonial-desc">I was new to quota trading, but Unika made it simple.
                  The platform is smooth, and I trust the blockchain-backed verification process.</p>
                <div class="rating-wrap"><span>Rating</span>
                  <ul>
                    <li><i class="fa-solid fa-star"></i></li>
                    <li><i class="fa-solid fa-star"></i></li>
                    <li><i class="fa-solid fa-star"></i></li>
                    <li><i class="fa-solid fa-star"></i></li>
                    <li><i class="fa-solid fa-star"></i></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="emergency-project-with-cta">

  <div class="container">
    <!-- CTA Boxes -->
    <div class="cta-box cta-double-content" style="background-image:url(assets/immaginiHome/cta1.png)">
      <div class="row justify-content-center">
        <div class="col-xl-4 col-lg-5 col-md-9">
          <div class="content">
            <h2 class="cta-title">Do you have an interesting idea?</h2>
            <p>If you believe you have a big business project and need money, support and organisation, you can apply
              for an IQO.
              If you are supported by investors we will offer you full strategic,
              organisational and operational support up to the launch of your new company.</p>
            <a class="main-btn" href="/" style="background-color: #41B74F;">Request contact now <i
                class="fa-solid fa-arrow-right"></i></a>
          </div>
        </div>
        <div class="col-xl-2 col-lg-1 cta-double-content-gap"></div>
        <div class="col-xl-4 col-lg-5 col-md-9">
          <div class="content">
            <h2 class="cta-title">Are you a project manager?</h2>
            <p>If you are or want to become a project manager, you can propose your candidature.
              Specify which project categories you would like to work. If you are qualify, you can join our academy and
              after 30 days
              of shadowing you will already have your first assigned project.</p>
            <a class="main-btn" href="/" style="background-color: #41B74F;">Apply now <i
                class="fa-solid fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-slider-home-due></app-slider-home-due>

</section>

<section class="partners-section section-gap section-border-bottom">
  <div class="container">
    <div class="common-heading mb-30"><span class="pers"><i class="fa-solid fa-plus"></i> DISCOVER OUR PARTNER</span>
      <h2 class="title">Our partners</h2>
    </div>


    <div class="row partners-logos-one">
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="logo mt-30"><a href="/testimonial"><img src="assets/immaginiHome/1.png" alt="Image" /></a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="logo mt-30"><a href="/testimonial"><img src="assets/immaginiHome/2.png" alt="Image" /></a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="logo mt-30"><a href="/testimonial"><img src="assets/immaginiHome/3.png" alt="Image" /></a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="logo mt-30"><a href="/testimonial"><img src="assets/immaginiHome/4.png" alt="Image" /></a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="logo mt-30"><a href="/testimonial"><img src="assets/immaginiHome/5.png" alt="Image" /></a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="logo mt-30"><a href="/testimonial"><img src="assets/immaginiHome/6.png" alt="Image" /></a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="logo mt-30"><a href="/testimonial"><img src="assets/immaginiHome/7.png" alt="Image" /></a></div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="logo mt-30"><a href="/testimonial"><img src="assets/immaginiHome/8.png" alt="Image" /></a></div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="logo mt-30"><a href="/testimonial"><img src="assets/immaginiHome/9.png" alt="Image" /></a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="logo mt-30"><a href="/testimonial"><img src="assets/immaginiHome/10.png" alt="Image" /></a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="logo mt-30"><a href="/testimonial"><img src="assets/immaginiHome/11.png" alt="Image" /></a></div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="logo mt-30"><a href="/testimonial"><img src="assets/immaginiHome/12.png" alt="Image" /></a></div>
      </div>

    </div>



  </div>
</section>

<!-- <section class="latest-blog-section section-gap">
  <div class="container">
    <div class="common-heading text-center mb-30"><span class="tagline"><i class="fa-solid fa-plus"></i> Latest
        News &amp; Blog<span class="heading-shadow-text">News Blog</span></span>
      <h2 class="title">Get Every Single Update</h2>
    </div>
    <div class="row justify-content-center latest-blog-posts style-one">
      <div class="col-lg-4 col-md-6 col-sm-9 col-11 wow fadeInUp" data-wow-delay="0.1s">
        <div class="latest-post-box mt-30">
          <div class="post-thumb"><img src="assets/immaginiHome/g1.jpg" alt="Image" /></div>
          <div class="post-content"><a href="#" class="post-date"><i class="fa-solid fa-calendar-days"></i>
              25 February 2021</a>
            <h6 class="title"><a href="/news-details">Standing Out From Crowds mproving Mobile
                Experience</a></h6><a class="post-link" href="/news-details">Read More
              <i class="fa-solid fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-9 col-11 wow fadeInUp" data-wow-delay="0.2s">
        <div class="latest-post-box mt-30">
          <div class="post-thumb"><img src="assets/immaginiHome/g2.jpg" alt="Image" /></div>
          <div class="post-content"><a href="#" class="post-date"><i class="fa-solid fa-calendar-days"></i>
              25 February 2021</a>
            <h6 class="title"><a href="/news-details">Five Rules Of App Localization China Money
                Dating And App Store</a></h6><a class="post-link" href="/news-details">Read More
              <i class="fa-solid fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-9 col-11 wow fadeInUp" data-wow-delay="0.3s">
        <div class="latest-post-box mt-30">
          <div class="post-thumb"><img src="assets/immaginiHome/g3.jpg" alt="Image" /></div>
          <div class="post-content"><a href="#" class="post-date"><i class="fa-solid fa-calendar-days"></i>
              25 February 2021</a>
            <h6 class="title"><a href="/news-details">How To Use Underlined Text Improve User
                Experience</a></h6><a class="post-link" href="/news-details">Read More
              <i class="fa-solid fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<app-footer></app-footer>
