.project-item {
  overflow: hidden;
  border-radius: 0px;
  background-color: white;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  cursor: pointer;
  border-radius: 20px;
}

.project-item .thumb {
  width: 100%;
  height: 270px;
  /* Altezza delle immagini */
  background-size: cover;
  background-position: center;
  border-bottom: 2px solid #ddd;
}

/* .project-item .content {
  padding: 30px 40px 35px;
} */

.pers{
  color:#41B74F !important;
  font-weight: bold;
  font-size: 15px;
}


.project-item .content {
  padding: 15px;
}

.project-stats {
  margin-top: 15px;
}

.project-stats .stats-bar {
  width: 100%;
  height: 4px;
  background-color: #eee;
  border-radius: 4px;
  overflow: hidden;
  margin-top: 5px;
}

.project-stats .stats-bar .bar-line {
  height: 100%;
  background-color: #28a745;
  transition: width 0.3s ease;
}

.project-item .date {
  margin-top: 10px;
  font-size: 14px;
  color: #666;
}

/* .project-item .cats a {
  background-color: var(--primary-color);
  color: var(--white);
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  padding: 12px 20px;
  box-shadow: 0 10px 30px 0 rgba(2, 169, 92, .5);
} */



.project-item .author a {
  color: #000000;
  font-weight: 700;
  margin-left: 15px;
}




.project-item .author a:hover {
  color: #02a95c;
}

/* .project-item .cats {
  position: absolute;
  left: 40px;
  top: 37vh;
  transform: translateY(-50%);
  margin: 0;
} */


/* .author {

  flex: 0 0 35px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  line-height: 1.2;
} */

.author img {
  width: 35px;
  height: 35px;
  border-radius: 50%;

}

.project-item .stats-value {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

.value {
  font-weight: bold;
  color: black;
}

.stats-percentage {
  font-weight: bold;
  color: #EB2932;
}

.stats-percentage2 {
  font-weight: bold;
  color: #41B74F;
}

.stats-percentage3 {
  font-weight: bold;
  color: #223D7F;
}

.fa-calendar-days {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 500;
  color: #02a95c;
}

.dates {
  font-weight: bold;
  color: black;
  margin-left: 1vw;
}

.fa-plus {
  font-weight: bold;
}

.tagline {
  color: #41B74F;
}

.titles {
  font-size: 15px;
  font-weight: 400;
  color: gray;
}



.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background-color: white;
  border-radius: 1vw;
  width: 36.094vw;
  height: auto;
  display: flex;
  align-items: center;
  text-align: center;
}

.btnModale {
  margin-top: 2vh;
  background-color: #223D7F;
  color: white;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1vw;
  color: white;
  width: 14vw;
  height: 7vh;
  border-radius: 3vw;
  margin-bottom: 5vh
}



.mProj {
  width: 12vw;
  margin-top: 2vh;
}

.titoloModale {
  font-size: 1.5vw;
  font-weight: bold;
  color: #000000;
  text-align: center;
  margin-top: 2vh;
}

.descModale {
  font-size: 1vw;
  color: gray;
  margin-top: 2.7vh;
  line-height: 1.7;
}


.color {
  color: #199D14;
  font-weight: bold;
}


@media screen and (max-width:600px) {
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }

  .modal-content {
    background-color: white;
    border-radius: 4vw;
    width: 90%;
    height: auto;
    display: flex;
    align-items: center;
    text-align: center;
  }

  .mProj {
    width: 40vw;
    margin-top: 2vh;
  }

  .titoloModale {
    font-size: 6vw;
    font-weight: bold;
    color: #000000;
    text-align: center;
  }

  .descModale {
    font-size: 3.5vw;
    color: gray;
    margin-top: 1vh;
    line-height: 1.7;
  }

  .btnModale {
    margin-top: 2vh;
    background-color: #223D7F;
    color: white;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vw;
    color: white;
    width: 80%;
    height: 6vh;
    border-radius: 14vw;
    margin-bottom: 5vh;
  }
}


.contBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3%;
  margin-top: 2vh;
}

.icon {
  width: 1vw;
}

.btn1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  border-radius: 2vw;
  border: none;
  background-color: #223D7F;
  font-size: 16px;
  width: 8vw;
  height: 6vh;
}

.btn2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  border-radius: 2vw;
  border: none;
  background-color: #223D7F;
  font-size: 16px;
  width: 12vw;
  height: 6vh;
}

.gross {
  font-weight: bold;
}

.project-item .cats {
  transform: translateY(-180%);
  margin: 0;
  margin-left: 100px;
}

.author {
  flex: 0 0 35px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  line-height: 1.2;
  margin-top: -50px;
}


.category-green {
  background-color: #3CB371 !important;
  font-weight: bold;
  border-radius: 3vw;
}

.category-yellow {
  background-color: #FFB400 !important;
  font-weight: bold;
  border-radius: 3vw;
}


.project-items .project-item .cats a {
  background-color: var(--primary-color);
  color: var(--white);
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  padding: 12px 20px;
  box-shadow: none !important;
}

.project-item .cats a {
  background-color: var(--primary-color);
  color: var(--white);
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  padding: 12px 20px;
  width: 215px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width:600px) {

  .project-item .cats a {
    background-color: var(--primary-color);
    color: var(--white);
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    padding: 12px 20px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .btn1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    border-radius: 7vw;
    border: none;
    background-color: #223D7F;
    font-size: 5vw;
    width: 40vw;
    height: 7vh;
  }

  .icon {
    width: 5vw;
  }

  .btn2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    border-radius: 7vw;
    border: none;
    background-color: #223D7F;
    font-size: 5vw;
    width: 44vw;
    height: 7vh;
  }



}

/*CSS TEMPORANEO FIN QUANDO HO SOLO 2 SLIDE!*/

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

swiper-container{
  width: 750px;
}

@media screen and (max-width:600px){

  swiper-container {
    width: 90%;
}


}

