.footer-widgets .widget .newsletter-form button {
  position: absolute;
  right: 30px !important;
  top: 50%;
  transform: translateY(-50%);
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-color: var(--primary-color);
  color: var(--white);
  font-size: 15px;
  transition: .3s;
}

.footer-widgets .widget .newsletter-form input {
  background-color: transparent;
  border: 2px solid white !important;
  border-radius: 30px;
  height: 60px;
  font-size: 16px;
  font-weight: 500;
  color: white !important;
}



.pers {
  cursor: pointer;
  transition: padding-left 0.5s;
}

.pers:hover{
  color:#02a95c !important;
  padding-left: 15px;

}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
}

.modal-content {
  background-color: white;
  border-radius: 1vw;
  width: 70%;
  height: auto;
  display: flex;
  align-items: center;
  text-align: center;
}

.btnModale {
  margin-top: 2vh;
  background-color: #223D7F;
  color: white;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1vw;
  color: white;
  width: 11vw;
  height: 7vh;
  border-radius: 3vw;
  margin-bottom: 5vh
}

.nav-menu ul {
  display: flex;
  gap: 2vw;
}

/*-----*/
.mProj {
  width: 80%;
  margin-top: 2vh;
}

.titoloModale {
  font-size: 1.5vw;
  font-weight: bold;
  color: #000000;
  text-align: center;
}

.descModale {
  font-size: 1vw;
  color: gray;
  margin-top: 2.7vh;
  line-height: 1.7;
}


.color {
  color: #199D14;
  font-weight: bold;
}

@media screen and (max-width:600px) {
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }

  .modal-content {
    background-color: white;
    border-radius: 4vw;
    width: 90%;
    height: auto;
    display: flex;
    align-items: center;
    text-align: center;
  }


  .titoloModale {
    font-size: 7vw;
    font-weight: bold;
    color: #000000;
    text-align: center;
  }

  .btnModale {
    margin-top: 2vh;
    background-color: #223D7F;
    color: white;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vw;
    color: white;
    width: 80%;
    height: 6vh;
    border-radius: 14vw;
    margin-bottom: 5vh;
  }
}
