<app-header></app-header>

<!-- <section class="page-title-area">
    <div class="container">
      <div class="row align-items-center justify-content-between">
        <div class="col-lg-8">
          <h1 class="page-title">About Us</h1>
        </div>
        <div class="col-auto">
          <ul class="page-breadcrumb">
            <li><a href="/">Home</a></li>
            <li>About Us</li>
          </ul>
        </div>
      </div>
    </div>
  </section> -->

<section class="about-section-three section-gap">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-xl-5 col-lg-7 col-md-9 col-sm-10">
        <div class="about-text mb-lg-50">
          <div class="common-heading mb-30"><span class="tagline"><i class="fa-solid fa-plus"></i> About
              us<span class="heading-shadow-text">About Us</span></span>
            <h2 class="title">Digital finance supports
              the real economy</h2>
          </div>

          <p>Unika is the first platform that allows you to invest in both
            innovative projects and real assets by purchasing
            participatory Quotas regulated by an association contract.</p>

          <ul class="check-list mt-30">
            <li class="wow fadeInUp" data-wow-delay="0s">
              <h5 class="title">Quotas are secure</h5>
              <p>If you purchase a Quota in a real economy project, your capital is always guaranteed.</p>
            </li>
            <li class="wow fadeInUp" data-wow-delay="0.1s">
              <h5 class="title">Guaranteed rentability</h5>
              <p>The company you supported shares a percentage of its monthly revenue with all Quota holders.</p>
            </li>
            <li class="wow fadeInUp" data-wow-delay="0.2s">
              <h5 class="title">Accessible to everyone</h5>
              <p>You can support a real company with investments starting from €9.90.</p>
            </li>
          </ul>

        </div>
      </div>
      <div class="col-xl-7 col-lg-8 col-md-10">
        <div class="about-gallery wow fadeInRight">

          <div class="img-one"><img src="assets/immaginiDiscoverUs/1.png" alt="Image" /></div>
          <div class="img-two persImm wow fadeInUp"><img src="assets/immaginiDiscoverUs/2.png" alt="Image" /></div>
          <div class="pattern"><img src="assets/img/about/about-gallery-pattern.png" alt="Pattern" />

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="feature-section primary-soft-bg section-gap">
  <div class="container">

    <div class="common-heading text-center mb-30"><span class="tagline"><i class="fa-solid fa-plus"></i>
        ATTENTIVE AND RESPONSIBLE<span class="heading-shadow-text">Features</span></span>
      <h2 class="title">Why invest in Quotas</h2>
    </div>

    <div class="row icon-boxes justify-content-center">

      <div class="col-lg-4 col-md-6 col-sm-9 wow fadeInUp" data-wow-delay="0.1s">
        <div class="icon-box mt-30">
          <div class="icon"><i class="flaticon-debit-card"></i></div>
          <h5 class="title">Regulated</h5>
          <p>Quotas are regulated by a participation association contract that guarantees the owner exclusive rights
            without implications or responsibilities for the operations of the supported company.</p><a class="link"
            href="/project-details"><i class="far fa-arrow-right"></i></a><span class="box-index">01</span>
          <div class="box-img"><img src="assets/img/icon-box-bg.jpg" alt="image" /></div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-9 wow fadeInUp" data-wow-delay="0.2s">
        <div class="icon-box mt-30">
          <div class="icon"><i class="flaticon-payment"></i></div>
          <h5 class="title">Profitable</h5>
          <p>When you purchase Quotas, you must carefully observe the percentage of revenue shared by the issuing
            company with Quota holders. Every 5th of the month, you will receive your earnings directly into your
            wallet.
          </p><a class="link" href="/project-details"><i class="far fa-arrow-right"></i></a><span
            class="box-index">02</span>
          <div class="box-img"><img src="assets/img/icon-box-bg.jpg" alt="image" /></div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-9 wow fadeInUp" data-wow-delay="0.3s">
        <div class="icon-box mt-30">
          <div class="icon"><i class="flaticon-wallet-1"></i></div>
          <h5 class="title">Spendable and Sellable</h5>
          <p>If you are not satisfied with the monthly profitability of your Quotas, you can use them as real credit
            with the issuing company or sell them on the Exchange as if they were traditional assets, with zero
            commission fees.</p><a class="link" href="/project-details"><i class="far fa-arrow-right"></i></a><span
            class="box-index">03</span>
          <div class="box-img"><img src="assets/img/icon-box-bg.jpg" alt="image" /></div>
        </div>
      </div>

    </div>
  </div>
</section>

<!--VIDEO & COUNTER-->
<!-- <section class="counter-with-video">
  <div class="video-area">
    <div class="container">
      <div class="funden-video"><img src="assets/img/video/03.jpg" alt="Image" /><a href="#" class="video-popup"><i
            class="fas fa-play"></i></a></div>
    </div>
  </div>

</section> -->

<div class="d-flex justify-content-center">
  <section class="counter-with-video" style="width: 100%; display: flex; justify-content: center;">
    <iframe
      style="width: 80%; height: 600px;"
      src="https://www.youtube.com/embed/E83BgwX3Ruc?si=Agn2QehWaoGenF9v"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen>
    </iframe>
  </section>
</div>



<section class="sectionSlider">
  <app-slider-home></app-slider-home>
</section>

<section class="counter-section-one mt-negative">
  <div class="container primary-bg">
    <div class="row counter-boxes justify-content-xl-between justify-content-center">
      <div class="col-xl-auto col-lg-5 col-md-5 col-sm-6">
        <div class="counter-box mb-40 icon-left">
          <div class="icon white-color">
            <img src="assets/immaginiHome/ban1.png" alt="Rocket Icon" />
          </div>
          <div class="content white-color">
            <div class="count-wrap">
              <span class="count" data-to="200">200</span><span class="suffix">+</span>
            </div>
            <h6 class="title">IQO Launched</h6>
          </div>
        </div>
      </div>

      <div class="col-xl-auto col-lg-5 col-md-5 col-sm-6">
        <div class="counter-box mb-40 icon-left">
          <div class="icon white-color">
            <img src="assets/immaginiHome/ban2.png" alt="Rocket Icon" />
          </div>
          <div class="content white-color">
            <div class="count-wrap"><span class="count" data-to="49">49</span><span class="suffix">+</span></div>
            <h6 class="title">Quotas traded</h6>
          </div>
        </div>
      </div>
      <div class="col-xl-auto col-lg-5 col-md-5 col-sm-6">
        <div class="counter-box mb-40 icon-left">
          <div class="icon white-color">
            <img src="assets/immaginiHome/ban3.png" alt="Rocket Icon" />
          </div>
          <div class="content white-color">
            <div class="count-wrap"><span class="count" data-to="62">62</span><span class="suffix">M +</span></div>
            <h6 class="title">Value generated</h6>
          </div>
        </div>
      </div>
      <div class="col-xl-auto col-lg-5 col-md-5 col-sm-6">
        <div class="counter-box mb-40 icon-left">
          <div class="icon white-color">
            <img src="assets/immaginiHome/ban4.png" alt="Rocket Icon" />
          </div>
          <div class="content white-color">
            <div class="count-wrap"><span class="count" data-to="85">85</span><span class="suffix">K +</span></div>
            <h6 class="title">Exchange user</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="sectionSlider2">
  <app-slider-home-due></app-slider-home-due>
</div>

<!--PARTNER-->
<section class="partners-section section-gap section-border-bottom">
  <div class="container">
    <div class="common-heading mb-30"><span class="tagline"><i class="fa-solid fa-plus"></i>DISCOVER OUR PARTNERS<span
          class="heading-shadow-text">Partners</span></span>
      <h2 class="title">Only the best</h2>
    </div>


    <div class="row partners-logos-one">
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="logo mt-30"><a href="/testimonial"><img src="assets/immaginiHome/1.png" alt="Image" /></a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="logo mt-30"><a href="/testimonial"><img src="assets/immaginiHome/2.png" alt="Image" /></a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="logo mt-30"><a href="/testimonial"><img src="assets/immaginiHome/3.png" alt="Image" /></a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="logo mt-30"><a href="/testimonial"><img src="assets/immaginiHome/4.png" alt="Image" /></a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="logo mt-30"><a href="/testimonial"><img src="assets/immaginiHome/5.png" alt="Image" /></a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="logo mt-30"><a href="/testimonial"><img src="assets/immaginiHome/6.png" alt="Image" /></a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="logo mt-30"><a href="/testimonial"><img src="assets/immaginiHome/7.png" alt="Image" /></a></div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="logo mt-30"><a href="/testimonial"><img src="assets/immaginiHome/8.png" alt="Image" /></a></div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="logo mt-30"><a href="/testimonial"><img src="assets/immaginiHome/9.png" alt="Image" /></a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="logo mt-30"><a href="/testimonial"><img src="assets/immaginiHome/10.png" alt="Image" /></a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="logo mt-30"><a href="/testimonial"><img src="assets/immaginiHome/11.png" alt="Image" /></a></div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="logo mt-30"><a href="/testimonial"><img src="assets/immaginiHome/12.png" alt="Image" /></a></div>
      </div>

    </div>



  </div>
</section>



<app-footer></app-footer>
